@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?25982426');
  src: url('../fonts/fontello.eot?25982426#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?25982426') format('woff2'),
    url('../fonts/fontello.woff?25982426') format('woff'),
    url('../fonts/fontello.ttf?25982426') format('truetype'),
    url('../fonts/fontello.svg?25982426#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?25982426#fontello') format('svg');
  }
}


[class^="mei-"]:before,
[class*=" mei-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  font-size: 120%;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.mei-settings:before {
  content: '\e800';
}

/* '' */
.mei-team:before {
  content: '\e801';
}

/* '' */
.mei-transfer:before {
  content: '\e802';
}

/* '' */
.mei-web-design:before {
  content: '\e803';
}

/* '' */
.mei-app-development:before {
  content: '\e804';
}

/* '' */
.mei-computer-graphic:before {
  content: '\e805';
}

/* '' */
.mei-development-1:before {
  content: '\e806';
}

/* '' */
.mei-development:before {
  content: '\e807';
}

/* '' */
.mei-pie-chart:before {
  content: '\e808';
}

/* '' */
.mei-menu:before {
  content: '\e809';
}

/* '' */
.mei-production:before {
  content: '\e80a';
}

/* '' */
.mei-project-management:before {
  content: '\e80b';
}

/* '' */
.mei-advertising:before {
  content: '\e80c';
}

/* '' */
.mei-magnifying-glass:before {
  content: '\e80d';
}

/* '' */