#lines {
  position: absolute;
  left: 50%;
  bottom: -38%;
  visibility: hidden;
}

#lines .p-line-01 {
  stroke: $color-white-2;
  stroke-width: 6;
}

#lines .p-line-02 {
  stroke: $color-red;
  stroke-linecap: round;
  stroke-width: 5;
}

#lines .p-line-03 {
  stroke: $color-white;
  stroke-dasharray: 8;
  stroke-width: 6;
}

#lines .p-line {
  fill: none;
}


.line-animation .p-line-01 {
  // stroke: gray;
  // stroke-width: 6;
  // mix-blend-mode: color;
  stroke-linecap: round;
  display: none;
}

.line-animation .p-line-02 {
  stroke: $color-red;
  stroke-linecap: round;
  stroke-width: 6;
  // mix-blend-mode: difference;
}

.line-animation .p-line-03 {
  // stroke: $color-black;
  // stroke-dasharray: 8;
  // stroke-width: 7;
  // mix-blend-mode: color;
  // stroke-linecap: round;
  display: none;
}

.line-animation .p-line {
  fill: none;
}

#line-home-service-1 {
  .p-line-01 {
    // stroke: $color-font-1;
    // mix-blend-mode: normal;
    display: none;

  }

  .p-line-02 {
    // stroke: $color-white;
    // stroke-linecap: round;
    // stroke-width: 5;
    display: none;
    // mix-blend-mode: normal;
  }

  .p-line-03 {
    // stroke: $color-black;
    // mix-blend-mode: normal;
    display: none;
  }

}

/* #line-home-service-2 {
  .p-line-01 {
    display: none;
  }

  .p-line-02 {
    display: none;
  }

  .p-line-03 {
    display: none;
  }

} */