/*
Theme Name: Meipaly
Theme URI: http://layerdrops.com/
Author: Layerdrops
Author URI: http://layerdrops.com/
Description: Meipaly - Digital Services Agency HTML5 Responsive Template
Version: 1.0
License:
License URI:
*/

/*=======================================================================
[Table of contents]
=========================================================================

1. Font Settings
2. Typography Settings
3. Section Title Settings
4. Button Settings
5. Section Settings
*/

/*------------------------------------------------------------------------------
/ 1. Font Settings
------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-size: 58%;
  scroll-behavior: smooth;
}

body {
  // line-height: 3.2rem;
  color: $color-font-1;
  letter-spacing: 0.064rem;
  font-size: $font-size-m;
  // font-family: "Amaranth", sans-serif;
  font-family: "Roboto", sans-serif;
  // font-family: "Oswald", sans-serif;
  font-weight: 400;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

/*------------------------------------------------------------------------------
/ 2. Typography Settings
------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5 h6 {
  color: $color-black;
  font-weight: 400;
  font-family: "Amaranth", sans-serif;
  margin: 0 0 1.5rem;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

a:focus {
  color: $color-white;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*------------------------------------------------------------------------------
/ 3. Section Title Settings
------------------------------------------------------------------------------*/
.noPadding {
  padding: 0;
}

.noPaddingRight {
  padding-right: 0;
}

.noPaddingLeft {
  padding-right: 0;
}

/*------------------------------------------------------------------------------
/ 4. Button Settings
------------------------------------------------------------------------------*/
.common_btn {
  border: none;
  font-size: $font-size-m;
  font-weight: 400;
  background: $color-black;
  color: $color-white;
  // border-bottom-left-radius: .5rem;
  // border-top-left-radius: .5rem;
  // border-bottom-right-radius: .4rem;
  // border-top-right-radius: .4rem;
  height: 7rem;
  text-transform: uppercase;
  text-align: center;
  padding: 2.8rem 4.55rem;
  display: inline-block;
  line-height: 0.8;
  letter-spacing: 0.14rem;
  position: relative;
  outline: none;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

.common_btn span {
  position: relative;
  z-index: 2;
}

.common_btn:after {
  content: "";
  width: .4rem;
  // border-radius: .5rem;
  // border-bottom-right-radius: 1rem;
  // border-top-right-radius: 1rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: $color-white;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

.common_btn:hover:after {
  width: 100%;
}

.common_btn--disabled:hover:after {
  width: 0;
}

.common_btn:hover {
  color: $color-black;
}

.common_btn.red_bg {
  padding: 2.8rem 4.05rem;
}

.common_btn.red_bg:after {
  background: $color-red;
}

.common_btn.red_bg:hover:after {
  width: 100%;
}

.common_btn--disabled.red_bg:hover:after {
  width: .4rem;
}

.common_btn.red_bg:hover {
  color: $color-white;
}

/*------------------------------------------------------------------------------
/ 5. Section Settings
------------------------------------------------------------------------------*/
.commonSection {
  padding: 12rem 0;
  position: relative;

  &.call-to-action .container .row {
    align-items: center !important;
  }
}

.commonSection .container {
  padding: 0 6rem;
  position: relative;
  z-index: 2;
}

.grays {
  background: $color-gray;
}

.sub_title {
  font-size: $font-size-xs;
  // line-height: 0.8;
  font-weight: 400;
  color: $color-font-1;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  margin: 0 0 .5rem;
}

.sec_title {
  font-size: $font-size-xxxxl;
  line-height: $font-size-xxxxl;
  font-weight: 600;
  color: $color-black;
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin: 0 0 2.5rem;
  white-space: pre-line;
}

.dot {
  position: relative;
  // font-family: "Amaranth";
  // font-size: $font-size-xxxxl;
  // font-weight: 400;
  // text-transform: uppercase;
  // margin: 0;
}

.dot::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: $color-red;
  border-radius: 50%;
  bottom: 6px;
  margin-left: 2px;
}

.dot.big::after {
  width: 12px;
  height: 12px;
  margin-left: 0px;
  bottom: 1px;
}

.dot.big::before {
  position: absolute;
  content: "We add value and deliver results";
  bottom: -6rem;
  left: 50%;
  color: $color-font-0;
  transform: translateX(-50%);
  font-size: $font-size-m;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 1px;
}

.dot.white-circle::after {
  width: 12px;
  height: 12px;
  margin-left: 3px;
  background-color: white;
  bottom: 13px;
}

.white-circle {
  margin: 0;
  font-weight: 900;
  font-size: 3.5rem;
  letter-spacing: 1px;
}

.big {
  // font-family: "Titillium Web";
  margin: 0;
  text-align: center;
  font-weight: 900 !important;
  font-size: $font-size-xbig;
  // height: 74px;
  // letter-spacing: 3px;
}

@media only screen and (max-width: 900px) {
  .dot.big::after {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    bottom: 15px;
  }

  .dot.white-circle::after {
    width: 10px;
    height: 10px;
    bottom: 9px;
  }

  .dot::after {
    width: 7px;
    height: 7px;
    bottom: 7px;
  }

  .big {
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .dot.big::after {
    width: 9px;
    height: 9px;
    margin-left: 0px;
    bottom: 14px;
  }

  .dot::after {
    width: 7px;
    height: 7px;
    bottom: 5px;
  }
}

@media only screen and (max-width: 380px) {
  .dot.big::after {
    width: 8px;
    height: 8px;
    margin-left: 0px;
    bottom: 11px;
  }

  .dot.white-circle::after {
    width: 8px;
    height: 8px;
    bottom: 7px;
    margin-left: 1px;
  }

  .dot::after {
    width: 6px;
    height: 6px;
    bottom: 4.5px;
  }
}

.red_color {
  color: $color-red;
}

.white {
  color: $color-white;
}

.sec_desc {
  max-width: 50rem;
  margin: 0 auto 5.4rem;
  white-space: pre-line;
}

.color_aaa {
  color: #aaaaaa;
}

.google-map__contact-page {
  width: 100%;
  height: 60.9rem;
}

.google-map__contact-page iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

@media (min-width: 120rem) {
  .container {
    max-width: 120rem;
  }
}