.section-service {
  min-height: 50rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  justify-items: center;
  position: relative;

  .sec_desc {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 2rem;
  }

}

.section-service:nth-of-type(odd) #lines {
  transform: translate(-50%, 0%);
}

.section-service:nth-of-type(even) #lines {
  transform: translate(-50.2%, 0%);
}

.section-service:last-of-type #lines {
  display: none;
}

.section-service:not(:last-child) {
  margin-bottom: 14rem;
}

.service-article-text {
  font-size: $font-size-m;
  color: $color-white-2;
}

.service-article {
  grid-column: 2 / span 3;
  grid-row: 1 / 1;
  width: 400px;
}

.service-img {
  position: relative;
  text-align: center;
  grid-column: 7 /10;
  grid-row: 1 / 1;

  div {
    img {
      object-fit: cover;
    }
  }

  &--icon {
    width: 30rem;
    height: 30rem;
  }

  &--image {
    width: 40rem;
    height: 30rem;
    box-shadow: -0.2rem 0.4rem 3rem 0 rgb(31 30 31 / 30%);
  }
}

.section-service:nth-of-type(even) .service-article {
  grid-column: 7 / 10;
  grid-row: 1 / 1;
}


.section-service:nth-of-type(even) .service-img {
  grid-column: 2 / span 3;
  grid-row: 1 / 1;
}

@media only screen and (max-width: 1250px) {
  .section-service:nth-of-type(even) .service-article {
    margin-right: 0;
  }

  .section-service:nth-of-type(odd) .service-article {
    margin-left: 0;
  }
}

@media only screen and (max-width: 990px) {
  #lines {
    display: none;
  }

  .section-service {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .section-service:not(:last-child) {
    margin-bottom: 4rem;
  }

  .service-article {
    width: auto;
    margin-bottom: 3rem;
  }

  .service-img {

    &--icon {
      width: 20rem;
      height: 20rem;
    }

    &--image {
      width: 25rem;
      height: 20rem;
      margin-top: 1rem;
    }
  }
}

@media (max-width: 574px) {

  .section-service:not(:last-child) .service-img {
    margin-bottom: 5rem;
  }

  .service-img {

    &--icon {
      width: 15rem;
      height: 15rem;
    }

    &--image {
      width: 80%;
    }
  }

  .section-service {
    &:first-child {
      margin-top: 6rem;
    }
  }
}