/*
Theme Name: Meipaly
Theme URI: http://layerdrops.com/
Author: Layerdrops
Author URI: http://layerdrops.com/
Description: Meipaly - Digital Services Agency HTML5 Responsive Template
Version: 1.0
License:
License URI:
*/

/*=======================================================================
[Table of contents]
=========================================================================
1. Header 01
2. Revolution Slider
3. Services Section
4. About Agency
5. What We Do Section
6. Portfolio Section
7. Fun Fact Section
8. Trust Client Section
9. Team Section
10. Our Clients Section
11. Testimonail Section
12. Blog Section
13. call-to-action Section
14. Footer Section
15. Servieces 2 Section
16. Featured Section
17. Tesimonial 02 Section
18. Why Choose Us Section
19. What We Do 2 Section
20. Google Map Section
21. About Page
22. Service Page
23. Portfolio Page
24. Blog Page
25. Contct Page
26. Popup Search
27. Popup Menu
28. preloder
29. Bact To Top
30. Color Preset
*/

/*----------------------------------------------------
/ 1. Header 01
------------------------------------------------------*/
.header_01 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  background: transparent;
  padding: 3.9rem 4rem 0 4.5rem;
  border-bottom: 0.2rem solid rgba($color-white, 0.1);
}

.logo {
  text-align: left;
  /* padding: 0 0 3.9rem; */
}

.logo img {
  // width: 8rem;
  height: 3.6rem;
  object-fit: cover;
  /* height: auto; */
}

.mainmenu {
  position: relative;
}

.mainmenu ul {
  margin: 0;
  padding: 0;
}

.mainmenu ul li {
  list-style: none;
  display: inline-block;
  padding: 0 2rem 5.3rem;
  position: relative;
}

.mainmenu ul li a {
  display: block;
  color: $color-white;
  font-size: $font-size-m;
  text-transform: uppercase;
  position: relative;
}

.mainmenu ul li a:after {
  position: absolute;
  width: 0;
  height: 0.1rem;
  content: "";
  background: $color-white;
  left: 0;
  right: 0;
  bottom: -.5rem;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mainmenu ul>li.active>a,
.mainmenu ul li a:hover {
  color: $color-white;
}

.mainmenu ul>li.active>a:after,
.mainmenu ul li a:hover:after {
  width: 100%;
}

.mainmenu ul ul.sub-menu {
  background: $color-black;
  width: 20rem;
  z-index: 9;
  text-align: center;
  padding: 2.5rem 3rem 1.3rem;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 10rem;
  transform: translateX(-50%);
  z-index: 2;
}

.mainmenu ul ul.sub-menu:before {
  content: "";
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -.5rem;
  width: 0;
  height: 0;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-bottom: .5rem solid $color-black;
  z-index: 10;
}

.mainmenu ul li:hover ul.sub-menu {
  visibility: visible;
  opacity: 1;
  top: 6.6rem;
}

.mainmenu ul ul.sub-menu li {
  margin: 0;
  padding: 0 0 1.3rem;
  display: block;
}

.mainmenu ul ul.sub-menu li a {
  font-size: $font-size-s;
  line-height: 1.5;
  display: inline-block;
}

.mainmenu ul ul.sub-menu li a:after {
  bottom: 0;
}

.navigator {
  position: relative;
  padding: .6rem 0 3.7rem;
}

.navigator a {
  display: inline-block;
  color: $color-white;
  font-size: 2.5rem;
  margin: 0;
}

.navigator a.search {
  margin-right: 1.6rem;
}

.navigator a.active,
.navigator a:hover {
  color: $color-red;
}

.black_color {
  border-color: #e5e5e5;
}

.black_color .mainmenu ul li a {
  color: $color-black;
}

.black_color .mainmenu ul li a:hover {
  color: $color-black;
}

.black_color .mainmenu ul li a:after {
  background: $color-black;
}

.black_color .navigator a {
  color: $color-black;
}

.black_color .navigator a.active,
.black_color .navigator a:hover {
  color: $color-red;
}

.fixedHeader {
  background: $color-black;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  border: none;
  box-shadow: 0 .2rem .5rem rgba($color-black, 0.05);
  -webkit-box-shadow: 0 .2rem .5rem rgba($color-black, 0.05);
  -moz-box-shadow: 0 .2rem .5rem rgba($color-black, 0.05);
}

.black_color.fixedHeader {
  background: $color-white;
}

.black_color .mainmenu ul ul.sub-menu {
  background: $color-white;
  box-shadow: 0 .2rem .5rem rgba($color-black, 0.05);
  -webkit-box-shadow: 0 .2rem .5rem rgba($color-black, 0.05);
  -moz-box-shadow: 0 .2rem .5rem rgba($color-black, 0.05);
}

.black_color .mainmenu ul ul.sub-menu:before {
  border-bottom: .5rem solid $color-white;
}

.black_color .mainmenu ul li:hover ul.sub-menu {
  top: 6.6rem;
}

/*----------------------------------------------------
/ 2. Revolution Slider
------------------------------------------------------*/
.rev_slider {
  position: relative;
}

.rev_slider .tp-leftarrow.me_arrows,
.rev_slider .tp-rightarrow.me_arrows {
  width: 7.4rem;
  height: 7.2rem;
  border-radius: 0;
  background: rgba($color-white, 0.35);
  color: $color-black;
  text-align: center;
  padding: 2.5rem 0;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.rev_slider .tparrows.tp-rightarrow:before {
  content: "\f105";
  font-size: $font-size-xxl;
  color: $color-black;
  font-family: "fontAwesome";
}

.rev_slider .tparrows.tp-leftarrow:before {
  content: "\f104";
  font-size: $font-size-xxl;
  color: $color-black;
  font-family: "fontAwesome";
}

.rev_slider .tp-leftarrow.me_arrows:hover,
.rev_slider .tp-rightarrow.me_arrows:hover {
  background: rgba($color-white, 1);
}

.rev_slider .common_btn {
  padding: 2.8rem 4.55rem !important;
}

.rev_slider.slider_2 .tp-leftarrow.me_arrows,
.rev_slider.slider_2 .tp-rightarrow.me_arrows {
  background: rgba($color-black, 0.35);
  color: $color-white;
}

.rev_slider.slider_2 .tparrows.tp-leftarrow:before,
.rev_slider.slider_2 .tparrows.tp-rightarrow:before {
  color: $color-white;
}

.rev_slider.slider_2 .tp-leftarrow.me_arrows:hover,
.rev_slider.slider_2 .tp-rightarrow.me_arrows:hover {
  background: rgba($color-black, 1);
}

.tp-bannertimer {
  display: none;
}

/*----------------------------------------------------
/ 3. Services Section
------------------------------------------------------*/
.service_section_2 {
  background: url(../../public/images/bg/1.jpg) no-repeat center center / cover;
  position: relative;

  /* .col-md-12 {
    margin-bottom: 4rem;
  } */

  #line-home-service-2 {
    position: absolute;
    bottom: -9.7rem;
    right: calc(50% - 5px);
    // transform: translateX(-50%);
  }

  #line-home-service-1 {
    z-index: 2;
    position: absolute;
    top: -5rem;
    left: calc(50% - 0.5px);
    transform: translateX(-50%);
  }
}

.service_section {
  background: url(../../public/images/bg/1.jpg) no-repeat center center / cover;
}

.services-section {
  // margin-top: -4rem;
  // background-color: $color-white;
  padding-bottom: 6rem;
  background: url(../../public/images/bg/11.png) repeat center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-black;
  }
}

.icon_box_1 {
  display: inline-block;
  position: relative;
  width: 100%;
  background: transparent;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(100rem);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.custom_column {
  .text-center {
    padding-top: 6rem;
    margin-bottom: -6rem;
  }
}

.icon_box_1 .back i,
.icon_box_1 .front i {
  font-size: $font-size-xbig;
  line-height: 1;
  color: $color-font-2;
  display: block;
  margin-bottom: 1.7rem;
  transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
}

.icon_box_1 .back h3,
.icon_box_1 .front h3 {
  font-size: $font-size-m;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-font-2;
  margin: 0;
  transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
}

.icon_box_1 .flipper {
  -webkit-transform-origin: 100% 21.35rem;
  -moz-transform-origin: 100% 21.35rem;
  -ms-transform-origin: 100% 21.35rem;
  transform-origin: 100% 21.35rem;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(100rem);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem 2rem 4rem;
}

.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  background: transparent;
  z-index: 2;
  border: .2rem solid rgba($color-font-1, 1);
  // padding: 4rem 2rem 4rem;
  width: 100%;
}

.vertical .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.back {
  background: $color-red;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  position: relative;
  // padding: 4.8rem 4.5rem 4.5rem;
  border: .2rem solid $color-red;
  width: 100%;
}

.icon_box_1:hover .front,
.icon_box_1.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.icon_box_1:hover .back,
.icon_box_1.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.custom_column .col-lg-3 {
  width: 20%;
  flex: 0 0 20%;
}

.icon_box_1 .back h3,
.icon_box_1 .back i {
  color: $color-white;
}

/*----------------------------------------------------
/ 4. About Agency
------------------------------------------------------*/
.ab_agency {
  padding-bottom: 14.7rem;

  #line-home-about {
    position: absolute;
    bottom: -9.7rem;
    right: calc(50% - 5px);
    z-index: 2;
    // transform: translateX(-50%);
  }
}

.PR_79 {
  padding-right: 7.9rem;
}

.MB_45 {
  margin-bottom: 4.5rem;
}

.ab_img1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 50rem;
  height: 48rem;
}

.ab_img1 div,
.ab_img2 div {
  -webkit-box-shadow: -.2rem .4rem 3rem .0rem rgba($color-black, 0.3);
  -moz-box-shadow: -.2rem .4rem 3.0rem 0 rgba($color-black, 0.3);
  box-shadow: -.2rem .4rem 3rem 0 rgba($color-black, 0.3);
}

.ab_img1 img {
  object-fit: cover;
}

.ab_img2 {
  position: absolute;
  left: 0;
  top: 10rem;
  z-index: 2;
  width: 48rem;
  height: 42rem;
}

.ab_img2:after {
  position: absolute;
  top: -4rem;
  left: 4rem;
  content: "";
  border: 1rem solid $color-red;
  width: 49rem;
  height: 50rem;
}

.ab_img2 img {
  object-fit: cover;
}

/*----------------------------------------------------
/ 5. What We Do Section
------------------------------------------------------*/
.what_wedo {
  position: relative;
  border-bottom: .1rem solid #e7e7e7;
  padding-bottom: 7.2rem;

  #line-what_wedo {
    z-index: 2;
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.what_wedo:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  content: "";
  background: $color-white-2;
}

.videoWrap {
  position: relative;
  // margin-bottom: 10rem;
  height: 543px;

  .react-player__shadow {
    background: $color-red !important;
    width: 10rem !important;
    height: 10rem !important;
    border-radius: 0 !important;
  }

  .react-player__preview {
    flex-direction: column !important;

    &::after {
      content: "Wacht Video";
      width: auto;
      height: auto;
      font-size: 5rem;
      text-transform: uppercase;
      font-family: "Amaranth",
        sans-serif;
      color: $color-black;
      margin-top: 2rem;
    }
  }
}

.subscribefrom {
  position: relative;
  text-align: right;

  .message-success {
    display: inline-block;
    color: $color-black !important;
    text-align: initial;
    margin-bottom: 0;
    font-weight: 500 !important;
  }

  .message-error {
    position: absolute;
    top: -4rem;
    left: 3rem;
    color: $color-red !important;
    font-weight: 500 !important;
  }
}

.subscribefrom input[type="text"],
.subscribefrom .message-success {
  width: 47rem;
  height: 7rem;
  background: $color-white-2;
  color: $color-font-1;
  line-height: 7rem;
  font-weight: 400;
  letter-spacing: 0.5.6rem;
  padding-left: 3rem;
  border: none;
  outline: none;
}

.subscribefrom .common_btn.red_bg {
  padding: 2.8rem 4.25rem;
  margin-left: .5rem;
}

.subscribefrom .common_btn {
  &--disabled {
    cursor: none;
    pointer-events: none;
  }
}

.subscribefrom input[type="text"]::-moz-placeholder {
  color: $color-font-1 !important;
  opacity: 1 !important;
}

.subscribefrom input[type="text"]::-ms-input-placeholder {
  color: $color-font-1 !important;
  opacity: 1 !important;
}

.subscribefrom input[type="text"]::-webkit-input-placeholder {
  color: $color-font-1 !important;
  opacity: 1 !important;
}

/*----------------------------------------------------
/ 6. Portfolio Section
------------------------------------------------------*/
.porfolio {
  padding-bottom: 9rem;
}

.singlefolio {
  position: relative;
  overflow: hidden;
  margin: 0 0 3rem;

  &__img {
    width: 38rem;
    height: 40rem;

    img {
      object-fit: cover;
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
    }
  }
}

.folioHover {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 2rem;
  bottom: 5rem;
  z-index: 3;
  transition: all ease 900ms;
  -moz-transition: all ease 900ms;
  -webkit-transition: all ease 900ms;
  -o-transition: all ease 900ms;
}

.singlefolio:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color-red, 0.8);
  overflow: hidden;
  width: 0;
  height: 100%;
  content: "";
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

.singlefolio .folioHover a.cate {
  font-size: $font-size-xs;
  line-height: 3.2rem;
  color: $color-white;
  display: block;
  letter-spacing: 0.12rem;
  margin: 0 0 .3rem;
  text-transform: uppercase;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.singlefolio .folioHover h3 {
  font-size: $font-size-xxl;
  color: $color-white;
  letter-spacing: 0.08rem;
  margin: 0;
  text-transform: uppercase;
}

.singlefolio:hover img {
  transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -webkit-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  -o-transform: scale(1.1) rotate(2deg);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.singlefolio:hover .folioHover {
  visibility: visible;
  opacity: 1;
  left: 5rem;
}

.singlefolio:hover:after {
  width: 100%;
}

.singlefolio .folioHover a.cate:hover,
.singlefolio .folioHover h4 a:hover {
  color: $color-black;
}

/*----------------------------------------------------
/ 7. Fun Fact Section
------------------------------------------------------*/
.funfact {
  background: url(../../public/images/bg/2.jpg) no-repeat center center / cover;
  padding: 0 0 33rem;
}

.BR {
  border-right: .1rem solid #1a1a1a;
}

.singlefunfact {
  position: relative;
  padding-top: 11.3rem;
}

.singlefunfact h1 {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0.24rem;
  font-weight: 300;
  color: $color-white;
  margin: 0 0 2.5rem;
}

.singlefunfact h3 {
  text-transform: uppercase;
  font-size: $font-size-m;
  color: $color-font-2;
  letter-spacing: 0.16rem;
  margin: 0;
}

/*----------------------------------------------------
/ 8. Trust Client Section
------------------------------------------------------*/
.trustClient {
  padding: 0 0 0;
  margin-top: -21rem;
  z-index: 5;
}

.pb_120 {
  padding-bottom: 12rem;
}

.CL_content {
  position: relative;
}

.CL_content img {
  max-width: 100%;
  height: auto;
}

.abc_inner {
  position: relative;
  margin-top: -47.7rem;
  z-index: 2;
}

.abci_content {
  position: relative;
  background: $color-white;
  padding: 8.7rem 0 0 10rem;
  margin-left: -1.7rem;
}

.abci_content h2 {
  font-size: $font-size-xxxxl;
  letter-spacing: .2rem;
  color: $color-black;
  line-height: 6.3rem;
  text-transform: uppercase;
  margin: 0 0 4.3rem;
}

.abci_content p {
  margin-bottom: 5.5rem;
}

/*----------------------------------------------------
/ 9. Team Section
------------------------------------------------------*/
.team {
  padding-bottom: 12rem;
}

.slick-list {
  -moz-user-select: none;
  box-sizing: border-box;
  display: block;
  position: relative;
}

.singleTM {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.team_slider .slick-slide {
  margin: 0 1.5rem;
  outline: none;
}

.tm_img {
  position: relative;
  width: 28rem;
  height: 30rem;
}

.tm_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: none;
  width: calc(100% + 2rem);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-1rem, 0, 0);
  transform: translate3d(-1rem, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.singleTM:hover .tm_img img {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-1.5rem, 0, 0);
}

.singleTM .tm_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all ease 900ms;
  -moz-transition: all ease 900ms;
  -webkit-transition: all ease 900ms;
  -o-transition: all ease 900ms;
}

.singleTM .tm_overlay:after {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba($color-red, 0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  content: "";
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.singleTM .team_social {
  position: absolute;
  left: 2.0rem;
  top: 4.9rem;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  transition: all ease 900ms;
  -moz-transition: all ease 900ms;
  -webkit-transition: all ease 900ms;
  -o-transition: all ease 900ms;
}

.singleTM .team_social a {
  display: block;
  font-size: $font-size-xs;
  letter-spacing: 0.12rem;
  color: $color-white;
  margin: 0 0 1.9rem;
  position: relative;
  text-transform: uppercase;
}

.singleTM .team_social a span {
  position: relative;
}

.singleTM .team_social a span:after {
  width: 0;
  height: .1rem;
  content: "";
  background: $color-white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.singleTM .team_social a span:hover:after {
  width: 100%;
}

.tm_overlay a.common_btn {
  position: absolute;
  left: 2rem;
  bottom: 5rem;
  visibility: hidden;
  opacity: 0;
  padding: 2.4rem 3rem;
  height: 6rem;
  font-size: $font-size-s;
  letter-spacing: 0.14rem;
  transition: all ease 900ms;
  -moz-transition: all ease 900ms;
  -webkit-transition: all ease 900ms;
  -o-transition: all ease 900ms;
}

.singleTM:hover .tm_overlay a.common_btn {
  visibility: visible;
  opacity: 1;
  left: 5rem;
  z-index: 9;
}

.singleTM:hover .team_social {
  visibility: visible;
  opacity: 1;
  left: 5rem;
}

.singleTM:hover .tm_overlay:after {
  width: 100%;
}

.detail_TM {
  position: relative;
  text-align: center;
  padding: 3rem 1rem 0;
}

.detail_TM h5 {
  font-size: $font-size-xl;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color: $color-black;
  display: block;
  margin: 0 0 .3rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.detail_TM h6 {
  font-size: $font-size-xs;
  letter-spacing: 0.12rem;
  color: $color-font-1;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.detail_TM h6:after {
  width: 0;
  height: .1rem;
  content: "";
  background: $color-font-1;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.4rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.singleTM:hover .detail_TM h5 {
  color: $color-red;
}

.singleTM:hover .detail_TM h6:after {
  width: 100%;
}

.slick-dots {
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -7.4rem;
  float: none;
  text-align: center;
}

#team-carousel-pagination {
  position: relative;
  bottom: auto;
  left: auto;
  text-align: center;
  margin-top: 4rem;
}

#team-carousel-pagination .swiper-pagination-bullet,
.slick-dots li {
  list-style: none;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background: #dbdbdb;
  border: none;
  margin: 0 .3rem;
  cursor: pointer;
  padding: 0;
  opacity: 1;
  border-radius: 0;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.slick-dots li button[type="button"] {
  border: none;
  border-radius: 0;
  display: inline-block;
  padding: 0;
  text-indent: -9999px;
  z-index: 10;
  outline: none;
}

#team-carousel-pagination .swiper-pagination-bullet-active,
#team-carousel-pagination .swiper-pagination-bullet:hover,
.slick-dots li.slick-active,
.slick-dots li:hover {
  background: $color-black;
}

/*----------------------------------------------------
/ 10. Our Clients Section
------------------------------------------------------*/
.client {
  background: $color-white-2;
}

.singleClient {
  position: relative;
  width: 100%;
  height: 21rem;
  margin-bottom: 3rem;
  background: $color-white;
  text-align: center;
  transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
}

.singleClient a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
}

.singleClient img {
  padding: 2rem !important;
  opacity: 0.5;
  transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
}

.singleClient:after {
  width: .4rem;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  content: "";
  background: $color-red;
  visibility: hidden;
  opacity: 0;
  transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
}

.singleClient:hover:after {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.singleClient:hover img {
  opacity: 1;
}

.singleClient:hover {
  -webkit-box-shadow: .0rem 1.0rem 3.5rem .0rem rgba($color-black, 0.05);
  -moz-box-shadow: .0rem 1.0rem 3.5rem .0rem rgba($color-black, 0.05);
  box-shadow: .0rem 1.0rem 3.5rem .0rem rgba($color-black, 0.05);
}

.client_slider .owl-controls .owl-nav {
  display: none;
}

.client_slider .owl-controls .owl-dots {
  text-align: center;
  margin-top: 2.7rem;
}

.client_slider .swiper-pagination-bullet,
.client_slider .owl-controls .owl-dots .owl-dot span {
  width: 1rem;
  height: 1rem;
  border-radius: 0;
  margin: 0 .3rem;
  padding: 0;
  background: #dbdbdb;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 1;
}

.client_slider .swiper-pagination-bullet-active,
.client_slider .swiper-pagination-bullet:hover,
.client_slider .owl-controls .owl-dots .owl-dot.active span,
.client_slider .owl-controls .owl-dots .owl-dot:hover span {
  background: $color-black;
}

.client_slider .swiper-pagination {
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  margin-top: 2.5rem;
}

.singleClient_2 {
  position: relative;
  overflow: hidden;
  background: $color-white;
  border: none;
  padding: 4rem 1.5rem 4.6rem 5rem;
  width: 100%;
  transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
}

.singleClient_2:after {
  width: .4rem;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  content: "";
  background: $color-red;
  visibility: hidden;
  opacity: 0;
  transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
}

.singleClient_2:hover:after {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.singleClient_2:hover {
  -webkit-box-shadow: .0rem 1rem 3.5rem .0rem rgba($color-black, 0.05);
  -moz-box-shadow: .0rem 1rem 3.5rem .0rem rgba($color-black, 0.05);
  box-shadow: .0rem 1rem 3.5rem .0rem rgba($color-black, 0.05);
}

.singleClient_2 h3 {
  text-transform: uppercase;
  color: $color-black;
  font-size: $font-size-xl;
  line-height: 3.6rem;
  letter-spacing: 0.08rem;
  margin: 0 0 3rem;
}

.singleClient_2 p {
  line-height: 3rem;
  margin: 0;
}

/*----------------------------------------------------
/ 11. Testimonail Section
------------------------------------------------------*/
.testimonial {
  background: no-repeat fixed center / cover;
}

.testimonial_content {
  position: relative;
  text-align: center;
  padding: 0 6.5rem;
}

.testimonial_content .testi_icon {
  width: 11.5rem;
  height: 11.5rem;
  background: $color-red;
  text-align: center;
  display: inline-block;
  font-size: $font-size-xbig;
  color: $color-white;
  padding: 2.5rem 0;
  margin: 0 0 4.9rem;
}

.testimonial_content h2 {
  font-size: $font-size-xxxxl;
  line-height: 6.2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: $color-white;
  margin: 0 0 4.4rem;
}

.testimonial_content h2 span {
  color: $color-red;
}

.testimonial_content p {
  font-size: $font-size-xl;
  color: $color-white;
  letter-spacing: 0.08rem;
  white-space: pre-line;
  margin: 0;
}

/*----------------------------------------------------
/ 12. Blog Section
------------------------------------------------------*/
.blog {
  padding-bottom: 6rem !important;
}

.latestBlogItem {
  position: relative;
  background: $color-white;
  margin: 0 0 5.1rem;
}

.lbi_thumb {
  overflow: hidden;
  position: relative;
  width: 36rem;
  height: 25rem;
}

.lbi_thumb img {
  // width: 100%;
  // height: 100%;
  object-fit: cover;
}

.lbi_details {
  text-align: left;
  margin: 0 1rem;
  position: relative;
  margin-top: -2rem;
  padding: 3rem 3rem 0;
  background: $color-white;
  z-index: 3;
}

.lbi_details .lbid_date {
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 700;
  display: block;
  height: 3.1rem;
  width: 8.5rem;
  background: $color-black;
  color: $color-white;
  padding: 1.1rem 0;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 1.5rem;
}

.lbi_details .lbid_date:hover {
  color: $color-white;
  background: $color-red;
}

.lbi_details h2 {
  font-size: $font-size-xxxl;
  line-height: 3.2rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: $color-black;
  margin: 0 0 1.3rem;
}

.lbi_details h2 a {
  color: $color-black;
}

.lbi_details h2 a:hover {
  color: $color-red;
}

.lbi_details .learnM {
  display: inline-block;
  font-size: $font-size-xs;
  letter-spacing: 0.112rem;
  text-transform: uppercase;
  color: $color-black;
  position: relative;
}

.lbi_details .learnM:after {
  width: 0;
  height: .1rem;
  content: "";
  background: $color-red;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.4rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.lbi_details .learnM:hover:after {
  width: 100%;
}

.lbi_details .learnM:hover {
  color: $color-red;
}

/*----------------------------------------------------
/ 13. call-to-action Section
------------------------------------------------------*/
.call-to-action {
  background: url(../../public/images/bg/4.jpg) no-repeat center center / cover;
  padding: 8rem 0 !important;
}

.call-to-action .sec_title {
  font-size: $font-size-xxxxl;
  font-weight: 900;
  max-width: 40rem;

}

.call-to-action p {
  max-width: 40rem;
  color: $color-white-2;
}

.call-to-action .common_btn {
  padding: 2.8rem 4.25rem;
}

/*----------------------------------------------------
/ 14. Footer Section
------------------------------------------------------*/
.footer_1 {
  position: relative;
  padding: 13rem 0 0;
  background: url(../../public/images/bg/10.jpg) no-repeat center center / cover;
}

.footer_1 .widget {
  position: relative;
  padding: 0 0 8rem;
}

.footer_1 .widget .widget_title {
  font-size: $font-size-l;
  letter-spacing: 0.072rem;
  color: $color-white;
  margin: 0 0 4.3rem;
  position: relative;
  text-transform: uppercase;
}

.footer_1 .aboutwidget {
  padding-right: 11rem;
}

.footer_1 .aboutwidget img {
  max-width: 19rem;
  height: auto;
  margin-bottom: 3.4rem;
}

.footer_1 .aboutwidget p {
  font-size: $font-size-s;
  letter-spacing: 0.056rem;
  color: $color-font-2;
  margin: 2.5rem 0 0 0;
}

.footer_1 .contact_widgets {
  padding-left: 6rem;
}

.footer_1 .contact_widgets p {
  font-size: $font-size-s;
  letter-spacing: 0.056rem;
  color: $color-font-2;
  margin: 0;
}

.footer_1 .copyright a,
.footer_1 .contact_widgets p a {
  color: $color-font-2;
}

.footer_1 .copyright a:hover,
.footer_1 .contact_widgets p a:hover {
  color: $color-red;
}

.footer_1 .contact_widgets p:first-of-type {
  margin-bottom: 3.2rem;
}

.footer_1 .social_widget ul {
  margin: 0;
  padding: 0;
}

.footer_1 .social_widget ul li {
  padding: 0;
  margin: 0 0 0;
  list-style: none;
  display: block;
}

.footer_1 .social_widget ul li a {
  font-size: $font-size-s;
  letter-spacing: 0.056rem;
  color: $color-font-2;
  margin: 0;
  display: block;
  text-align: left;
}

.footer_1 .social_widget ul li a i {
  font-size: $font-size-m;
  color: $color-white;
  margin-right: 1.2rem;
}

.footer_1 .social_widget ul li a:hover {
  color: $color-white;
}

.footer_1 .copyright {
  border-top: .4rem solid #282828;
  font-size: $font-size-s;
  color: $color-font-2;
  text-transform: uppercase;
  padding: 4.1rem 0;
}

/*----------------------------------------------------
/ 15. Servieces 2 Section
------------------------------------------------------*/
// .service_section_2 {}

.icon_box_2 {
  position: relative;
  width: 100%;
  border: 2px solid $color-font-3;
  padding: 5rem 6.5rem 5rem;
  transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
}

.icon_box_2:after {
  width: .4rem;
  height: 0;
  position: absolute;
  content: "";
  right: -.1rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  content: "";
  background: $color-red;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
}

.icon_box_2 h3 {
  font-size: $font-size-xl;
  letter-spacing: 0.08rem;
  color: $color-white;
  line-height: 3.2rem;
  text-transform: uppercase;
  margin: 0 0 3.5rem;
}

.icon_box_2 p {
  margin: 0 0 3.1rem;
  color: $color-font-2;
}

.icon_box_2 .iconWrap {
  position: relative;
  margin: 0 0 4.4rem;
}

.icon_box_2 .iconWrap:after {
  background: url(../../public/images/shadow.png) no-repeat center center / cover;
  height: .7rem;
  width: 7.5rem;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -1.7rem;
  margin: 0 auto;
  z-index: 2;
}

.icon_box_2 .iconWrap i {
  font-size: $font-size-xbig;
  font-style: normal;
  color: $color-font-2;
  display: inline-block;
  margin: 0 0 0;
}

.icon_box_2 a {
  display: inline-block;
  font-size: $font-size-xs;
  letter-spacing: 0.12rem;
  color: $color-white;
  text-transform: uppercase;
  margin: 0;
}

.icon_box_2 a:hover {
  color: $color-red;
}

.icon_box_2:hover {
  -webkit-box-shadow: 0 1rem 3.5rem 0 rgba($color-white, 0.1);
  -moz-box-shadow: 0 1rem 3.5rem 0 rgba($color-white, 0.1);
  box-shadow: 0 1rem 3.5rem 0 rgba($color-white, 0.1);
  border-color: transparent;
}

.icon_box_2:hover:after {
  visibility: visible;
  opacity: 1;
  height: 101%;
}

/*----------------------------------------------------
/ 16. Featured Section
------------------------------------------------------*/
.better-way {
  background: $color-white-2;
  overflow: hidden;

  &__content {
    padding-right: 3rem;

    .sec_desc {
      margin-bottom: 2rem;
    }

    &__sub {
      margin-bottom: 3rem;
    }
  }

  &__features {
    position: relative;
    padding-left: 7rem;
    margin-bottom: 5.6rem;

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      position: absolute;
      left: 2.4rem;
      top: 5.8rem;
      content: "";
      width: .2rem;
      height: 9.5rem;
      background: $color-black;
    }

    &:last-child:after {
      display: none;
    }

    .f_count {
      position: absolute;
      left: 0;
      top: 0;
      color: $color-white;
      text-align: center;
      padding: 1.8rem 0;
      width: 5rem;
      height: 4.8rem;
      background: $color-black;
    }

    h3 {
      font-size: $font-size-l;
      letter-spacing: 0.072rem;
      color: $color-black;
      text-transform: uppercase;
      margin: 0 0 2.9rem;
    }

    p {
      margin: 0;
    }
  }

  &__img {
    position: relative;

    div {
      overflow: initial !important;

      img {
        width: auto !important;
        height: auto !important;
        min-width: auto !important;
        max-width: initial !important;
        min-height: auto;
        max-height: initial !important;
      }
    }

    .common_btn {
      position: absolute;
      left: 0;
      bottom: 6px;
    }
  }
}

/*----------------------------------------------------
/ 17. Tesimonial 02 Section
------------------------------------------------------*/
.testimonial_2 {
  background: url(../../public/images/bg/1.jpg) no-repeat center center / cover;
}

.testimoniTab {
  position: relative;
}

#testimonial_2_thumb,
.testimoniTab ul {
  margin: 5.3rem 0 0;
  padding: 0;
}

#testimonial_2_thumb .swiper-slide,
.testimoniTab ul li {
  list-style: none;
  display: inline-block;
  opacity: 0.6;
}

#testimonial_2_thumb .swiper-slide-thumb-active,
.testimoniTab ul li.active {
  opacity: 1;
}

.testimoniTab ul li:last-child {
  margin-right: 0;
}

#testimonial_2_thumb .swiper-slide a,
.testimoniTab ul li a {
  display: block;
}

#testimonial_2_thumb .swiper-slide a span,
.testimoniTab ul li a span {
  width: 7.9rem;
  height: 7.9rem;
  display: block;
  margin-bottom: 2.1rem;
  position: relative;
}

#testimonial_2_thumb .swiper-slide a span img,
.testimoniTab ul li a span img {
  object-fit: cover;
}

#testimonial_2_thumb .swiper-slide a span::after,
.testimoniTab ul li a span:after {
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  right: 0;
  bottom: 0;
  content: "“";
  background: $color-red;
  font-size: 3rem;
  padding: 1.1rem 0;
  z-index: 9;
  color: $color-white;
  text-align: center;
}

#testimonial_2_thumb .swiper-slide a .author_detail,
.testimoniTab ul li a .author_detail {
  position: relative;
}

#testimonial_2_thumb .swiper-slide a .author_detail h5,
.testimoniTab ul li a .author_detail h5 {
  font-size: $font-size-m;
  color: $color-white;
  margin: 0 0 1.6rem;
  text-transform: uppercase;
}

#testimonial_2_thumb .swiper-slide a .author_detail h6,
.testimoniTab ul li a .author_detail h6 {
  font-size: $font-size-xs;
  color: $color-font-2;
  letter-spacing: 0.12rem;
  margin: 0;
  text-transform: uppercase;
}

.testi_con {
  position: relative;
  text-align: left;
  padding-top: 12rem;
}

.testi_con p {
  font-size: $font-size-xxl;
  line-height: 4.2rem;
  letter-spacing: 0.1rem;
  color: $color-white;
  font-weight: 300;
  margin: 0 0 2.1rem;
}

.testi_con span {
  text-transform: uppercase;
  color: $color-font-2;
  font-size: $font-size-xs;
  letter-spacing: 0.12rem;
  line-height: 0.9;
  display: block;
  margin: 0;
}

#testimonials-carousel-pagination,
.dots_owl {
  position: absolute;
  right: 1.5rem;
  top: 0;
  z-index: 9;
  bottom: auto;
  left: auto;
  text-align: right;
  line-height: 1;
}

#testimonials-carousel-pagination .swiper-pagination-bullet,
.dots_owl .owl-dot {
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 0;
  background: $color-font-2;
  display: inline-block;
  cursor: pointer;
  margin-left: .5rem;
  opacity: 1;
  transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
}

#testimonials-carousel-pagination .swiper-pagination-bullet-active,
#testimonials-carousel-pagination .swiper-pagination-bullet:hover,
.dots_owl .owl-dot.active,
.dots_owl .owl-dot:hover {
  background: $color-white;
}

/*----------------------------------------------------
/ 18. Why Choose Us Section
------------------------------------------------------*/
.chooseUs {
  #line-chooseUs {
    position: absolute;
    bottom: -9.7rem;
    right: calc(50% - 5px);
    z-index: 2;
    // transform: translateX(-50%);
  }
}

.chooseUs_title {
  margin: 0;
  padding: 0;
}

.chooseUs_title li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 33.33333333%;
  display: inline-block;
  position: relative;
  float: left;
}

.chooseUs_title li a {
  display: block;
  font-size: $font-size-l;
  color: $color-black;
  letter-spacing: 0.08rem;
  background: $color-white-2;
  padding: 4.9rem 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.chooseUs_title li:hover a,
.chooseUs_title li.active a {
  background: $color-black;
  color: $color-white;
}

.chose_img {
  width: 44.3rem;
  height: 31.4rem;
  position: relative;
  margin: 6rem 0 0;
}

.chose_img img {
  width: 100%;
  height: 100%;
  // height: auto;
  object-fit: cover;
}

.wh_choose {
  position: relative;
  margin: 5.1rem 0 0;
}

.wh_choose p {
  margin: 0 0 2.5rem;
}

.wh_choose ul {
  margin: 0;
  padding: 0;
}

.wh_choose ul li {
  display: flex;
  align-items: center;
  // display: block;
  line-height: 3.6rem;
}

.wh_choose ul li i {
  font-size: $font-size-s;
  color: $color-red;
  line-height: 3.2rem;
  margin-right: 1.5rem;

}

.wh_choose ul li p {
  margin: 0;
}

/*----------------------------------------------------
/ 19. What We Do 2 Section
------------------------------------------------------*/
.how_we_do_it {

  .old_way {
    padding: 0rem 0 6rem;


    &__img {
      position: relative;
      width: 100%;
      height: 45rem;

      div {
        width: 100%;

        img {
          object-fit: cover !important;
        }
      }

    }

    &__explain {
      margin-top: 3rem;
      color: $color-black;

      span {
        font-size: $font-size-xl;
      }
    }
  }
}

.old_way_card {
  position: relative;
  border: 2px solid $color-white-2;
  padding: 2rem 3rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  h3 {
    font-size: $font-size-xl;
    letter-spacing: 0.08rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    margin: 0 0 2rem;
  }

  i {
    position: absolute;
    top: 50%;
    right: -4rem;
    font-size: $font-size-xxxl;
    color: $color-red;
    transform: translateY(-50%);

  }

  .sec_pargph {
    color: $color-black;
  }

}

/*----------------------------------------------------
/ 20. Google Map Section
------------------------------------------------------*/
.gmapsection {
  position: relative;
}

.gmap {
  width: 100%;
  height: 60.9rem;
}

.btn_link {
  position: relative;
  width: 100%;
}

.btn_link a {
  display: inline-block;
  width: 100%;
  height: 14.3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: $font-size-xxl;
  color: $color-white;
  letter-spacing: 0.1rem;
  background: $color-red;
  padding: 6.1rem 0;
}

.btn_link a:hover {
  background: $color-black;
  color: $color-white;
}

.btn_link.bg_black a {
  background: $color-black;
}

.btn_link.bg_black a:hover {
  background: $color-red;
}

/*----------------------------------------------------
/ 21. About Page
------------------------------------------------------*/
.pageBanner {
  position: relative;
  min-height: 45rem;
  background: no-repeat center center / cover;
  padding-top: 17rem;

  &--dark {
    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      background: url("/images/bg/12.png") no-repeat center center / cover;
      width: 100%;
      height: 100%;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      background: rgba($color-black, 0.7);
      width: 100%;
      height: 100%;
    }
  }

  .banner_content {
    // margin-bottom: 12rem;
    position: relative;
    z-index: 2;
    padding: 0 2rem;


    h4 {
      color: $color-white;
      // font-size: $font-size-l;
      line-height: 3.6rem;
      letter-spacing: 0.18rem;
      text-transform: uppercase;
      margin: 0 0 1.2rem;
    }

    h2 {
      font-size: $font-size-xbig;
      line-height: 1;
      font-weight: 600;
      letter-spacing: 0.28rem;
      color: $color-white;
      text-transform: uppercase;
    }

    p {
      color: $color-white-2;
      max-width: 70rem;
      margin: 0 auto;
      padding-bottom: 2rem;
    }
  }
}

.agency_img1 {
  position: relative;
  text-align: right;
}

.agency_img1:after {
  position: absolute;
  right: 6rem;
  top: 6rem;
  border: 1rem solid $color-red;
  height: 46.4rem;
  width: 53rem;
  content: "";
  z-index: 6;
}

.agency_img2 {
  position: relative;
  text-align: left;
  z-index: 4;
  margin-top: -18.4rem;
}

.agency_img2 img,
.agency_img1 img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: -.2rem .4rem 3.5rem 0 rgba($color-black, 0.3);
  -moz-box-shadow: -.2rem .4rem 3.5rem 0 rgba($color-black, 0.3);
  box-shadow: -.2rem .4rem 3.5rem 0 rgba($color-black, 0.3);
}

.compay_date {
  position: absolute;
  right: 6rem;
  bottom: .3rem;
  z-index: 4;
}

.compay_date h5 {
  text-transform: uppercase;
  font-size: $font-size-xs;
  letter-spacing: 0.12rem;
  color: $color-black;
  margin: 0 0 .3rem;
}

.compay_date h2 {
  font-size: $font-size-super-big;
  line-height: 0.9;
  letter-spacing: 0.04rem;
  color: $color-black;
  margin: 0;
}

.subscribe {
  padding: 10rem 0 7.2rem;
  border-top: 2px solid $color-white-2;
}

.our_mission {
  background: $color-white-2;
  overflow: hidden;
  padding-bottom: 5.9rem;
  position: relative;
  margin-top: 8rem;
}

.videoWrap_2 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 50%;
  z-index: 10;
}

.videoWrap_2 .play_video h2 {
  color: $color-white;
}

.videoWrap_2 img {
  width: 100%;
  height: 100%;
}

.ab_detail_wrap {
  padding: 0 5rem;
}

.ab_detail_wrap .sec_title {
  margin-bottom: 4.6rem;
}

.ab_detail_wrap .sec_desc {
  line-height: 3.6rem;
}

/*----------------------------------------------------
/ 22. Service Page
------------------------------------------------------*/
.service_detail {
  padding-bottom: 8.2rem;
}

.serviceArea {
  position: relative;
}

.serviceArea img {
  width: 100%;
  height: auto;
  margin-bottom: 5.7rem;
}

.serviceArea h2 {
  text-transform: uppercase;
  color: #222232;
  font-size: $font-size-xxxxl;
  letter-spacing: .2rem;
  margin-bottom: 3.4rem;
}

.serviceArea p {
  margin: 0 0 3.1rem;
}

.serviceArea h3 {
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  color: $color-black;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.serviceArea .gaping {
  padding: 2.4rem 0 0;
}

.serviceArea .gaping img {
  margin-bottom: 5.2rem;
}

.serviceArea ul {
  margin: 0;
  padding: 0;
}

.serviceArea ul li {
  list-style: none;
  display: inline-block;
  line-height: 3.2rem;
  font-size: $font-size-m;
}

.serviceArea ul li i {
  color: $color-red;
  margin-right: 1rem;
  line-height: 3.6rem;
}

.meipaly_services_help {
  position: relative;
  background: url(../../public/images/s3.jpg) no-repeat center center / cover;
  padding: 4.7rem 5rem 4.7rem;
}

.meipaly_services_help h4 {
  font-size: $font-size-l;
  color: $color-white;
  letter-spacing: 0.072rem;
  text-transform: uppercase;
  margin: 0 0 4rem;
}

.meipaly_services_help p {
  color: $color-font-2;
  margin: 0 0 2.5rem;
  padding-right: .5rem;
}

.meipaly_services_help h2 {
  font-size: 3rem;
  color: $color-white;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  margin: 0 0 0;
}

/*----------------------------------------------------
/ 23. Portfolio Page
------------------------------------------------------*/
.porfolioPage {}

.folio_mixing {
  position: relative;
  text-align: center;
  margin: 0 0 6.5rem;
}

.folio_mixing ul {
  margin: 0;
  padding: 0;
}

.folio_mixing ul li {
  display: inline-block;
  list-style: none;
  margin: 0 1.7rem 0;
  padding: 0;
  text-transform: uppercase;
  font-size: $font-size-m;
  color: $color-font-1;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.folio_mixing ul li:after {
  width: 0;
  height: .1rem;
  content: "";
  background: $color-black;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.5rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.folio_mixing ul li.active,
.folio_mixing ul li:hover {
  color: $color-black;
}

.folio_mixing ul li.active:after,
.folio_mixing ul li:hover:after {
  width: 100%;
}

.custom {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.custom .mix {
  display: none;
}

.mt_30 {
  margin-top: 3rem;
}

.porfolioDetail {
  padding-bottom: 0;
}

.portDetailThumb {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 3rem;
}

.portDetailThumb img {
  object-fit: cover;
}

.nextprevPagination {
  position: relative;
  border-top: .1rem solid #e7e7e7;
  border-bottom: .1rem solid #e7e7e7;
  padding: 5.1rem 0 5.1rem;
  margin-top: 3rem;
}

.nextprevPagination a {
  text-transform: uppercase;
  color: $color-black;
  font-size: $font-size-m;
  letter-spacing: 0.16rem;
  margin: 0;
  display: inline-block;
}

.nextprevPagination a.prevFolio i {
  margin-right: .8rem;
  position: relative;
  top: -.1rem;
}

.nextprevPagination a.nextFolio i {
  margin-left: .8rem;
  position: relative;
  top: -.1rem;
}

.nextprevPagination a:hover {
  color: $color-red;
}

.singlePortfoio_content {
  position: relative;
  margin: 0 0 3.5rem;
}

.singlePortfoio_content h3 {
  font-size: 3rem;
  color: $color-black;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 0 0 3.9rem;
}

.singlePortfoio_content h4 {
  font-size: $font-size-l;
  color: $color-black;
  text-transform: uppercase;
  letter-spacing: 0.072rem;
  margin: 0 0 .9rem;
}

.singlePortfoio_content p {
  line-height: 3rem;
  // margin: 0;
}

.singlePortfoio_content p a {
  display: inline-block;
  color: $color-font-1;
}

.singlePortfoio_content p a:hover {
  color: $color-red;
}

.singlePortfoio_content ul {
  margin: 1.7rem 0 0;
  padding: 0;
}

.singlePortfoio_content ul li {
  list-style: none;
  display: block;
  margin: 0 0 1.7rem;
}

.singlePortfoio_content ul li a {
  color: $color-font-1;
  font-size: $font-size-xs;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  display: inline-block;
  position: relative;
}

.singlePortfoio_content ul li a:after {
  width: 0;
  height: .1rem;
  content: "";
  background: $color-red;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.4rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.singlePortfoio_content ul li a:hover {
  color: $color-red;
}

.singlePortfoio_content ul li a:hover:after {
  width: 100%;
}

.relatedPortfolio {
  padding-bottom: 9rem;
}

/*----------------------------------------------------
/ 24. Blog Page
------------------------------------------------------*/
.pagination {
  justify-content: center;

  .page-item .page-link {
    position: relative;
    display: inline-block;
    height: 4.6rem;
    width: 4.5rem;
    background: $color-white-2;
    color: $color-font-1;
    font-size: $font-size-m;
    letter-spacing: 0.056rem;
    line-height: 0.8rem;
    text-align: center;
    padding: 1.7rem 0;
    margin: 0 .3rem;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border-color: $color-white-2;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($color-red, .25);
    }
  }

  .disabled {

    .page-link {

      &:hover {
        cursor: text;
        background: $color-white-2;
        color: $color-font-1;

        &:after {
          height: 0;
          visibility: hidden;
          opacity: 0;
        }
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.pagination .page-link:after {
  width: .4rem;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  content: "";
  background: $color-red;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.pagination .prev .page-link:after,
.pagination .first .page-link:after {
  right: auto;
  left: 0;
}

.pagination .page-link:hover:after,
.pagination .page-item.active .page-link:after {
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.pagination .page-link:hover,
.pagination .page-item.active .page-link {
  color: $color-white;
  background: $color-black;
}

.pagination .page-item.active .page-link {
  cursor: text;
  border-color: $color-white-2;
}

.single_blog {
  position: relative;
}

.blog_thumb {
  position: relative;
  margin: 0 0 0;
}

.blog_thumb img {
  width: 100%;
  height: auto;
}

.blog_headings {
  position: relative;
  margin: -2rem 1rem 2.9rem;
  background: $color-white;
  z-index: 3;
  padding: 3rem 3rem 0;
}

.blog_headings span.blog_date {
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 700;
  display: block;
  height: 3.1rem;
  width: 8.5rem;
  background: $color-red;
  color: $color-white;
  padding: 1.1rem 0;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 2rem;
}

.blog_headings h2 {
  text-transform: uppercase;
  font-size: 4rem;
  color: $color-black;
  line-height: 4rem;
  letter-spacing: 0.16rem;
  margin: 0 0 .7rem;
}

.blog_headings .blog_metas {
  font-size: $font-size-xs;
  line-height: 3rem;
  letter-spacing: 0.12rem;
  color: $color-font-1;
  text-transform: uppercase;
  margin: 0;
}

.blog_headings .blog_metas a {
  display: inline-block;
  color: $color-font-1;
  margin: 0 1rem;
}

.blog_headings .blog_metas a:first-of-type {
  margin-left: 0;
}

.blog_headings .blog_metas a:hover {
  color: $color-red;
}

.blog_details {
  padding: 0 4rem 2.2rem;

  iframe {
    width: 100%;
    height: 38rem;
    margin-bottom: 1.5rem;
  }
}

.blog_details p {
  line-height: 3rem;
  margin: 0 0 3rem;
}

.blog_tagitems {
  position: relative;
  border-top: .1rem solid #e7e7e7;
  padding: 3.4rem 0 3.5rem;
}

.blog_tagitems span {
  font-size: $font-size-xl;
  line-height: 3rem;
  color: $color-black;
  display: inline-block;
  letter-spacing: 0.08rem;
  margin-right: .3rem;
}

.blog_tagitems a {
  display: inline-block;
  color: $color-font-1;
  line-height: 3rem;
  font-size: $font-size-m;
  margin-right: 5px
}

.blog_tagitems a:hover {
  color: $color-black;
}

.post_author {
  position: relative;
  background: $color-white-2;
  padding: 5.7rem 7rem 6rem 27rem;
  margin-bottom: 6rem;
}

.post_author__img {
  width: 17rem;
  height: 19rem;
  position: absolute;
  left: 6rem;
  top: 0;
  bottom: 0;
  margin: auto 0;

  img {
    object-fit: cover;
  }
}

.post_author h3 {
  font-size: $font-size-xl;
  color: $color-black;
  letter-spacing: 0.08rem;
  margin: 0 0 3.9rem;
}

.post_author h3 a {
  color: $color-black;
}

.post_author h3 a:hover {
  color: $color-red;
}

.post_author p {
  line-height: 3rem;
  margin: 0 0 1.6rem;
}

.post_author>a {
  color: $color-red;
  display: inline-block;
  position: relative;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  font-size: $font-size-xs;
}

.post_author>a:after {
  width: 100%;
  height: .1rem;
  content: "";
  background: $color-red;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.5rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.post_author>a:hover {
  color: $color-black;
}

.post_author>a:hover:after {
  background: $color-black;
}

.comment_area {
  position: relative;
}

.comment_area h3 {
  font-size: 3rem;
  letter-spacing: 0.12rem;
  color: $color-black;
  text-transform: uppercase;
  margin: 0 0 6.1rem;
}

.comment_area ol {
  margin: 0;
  padding: 0;
}

.comment_area ol li {
  list-style: none;
  display: block;
  margin: 0;
}

.single-comment {
  position: relative;
  padding-left: 14.3rem;
  padding-right: 10rem;
  border-bottom: .1rem solid #e7e7e7;
  padding-bottom: 5.5rem;
  margin-bottom: 6rem;
}

.single-comment img {
  width: 11rem;
  height: 11rem;
  position: absolute;
  left: 0;
  top: 0;
}

.single-comment .authorDetails {
  position: relative;
}

.single-comment .authorDetails h5 {
  font-size: $font-size-xl;
  color: $color-black;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin: 0 0 1rem;
}

.single-comment .authorDetails h5 a {
  color: $color-black;
}

.single-comment .authorDetails h5 a:hover {
  color: $color-red;
}

.single-comment .authorDetails span {
  display: block;
  font-size: $font-size-xs;
  line-height: 3rem;
  color: $color-red;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  margin: 0 0 2.7rem;
}

.single-comment .comment {
  position: relative;
  margin: 0 0 0;
}

.single-comment .comment p {
  line-height: 3rem;
  margin: 0;
}

.single-comment .common_btn.red_bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 5rem;
  font-size: $font-size-s;
  letter-spacing: 0.14rem;
  padding: 1.9rem 2.1rem;
}

.commentForm {
  position: relative;
}

.commentForm h3 {
  font-size: 3rem;
  letter-spacing: 0.12rem;
  color: $color-black;
  text-transform: uppercase;
  margin: 0 0 6.1rem;
}

.input-form {
  width: 100%;
  height: 7rem;
  background: $color-white-2;
  border: none;
  text-align: left;
  padding: 0 3rem;
  font-size: $font-size-s;
  letter-spacing: 0.056rem;
  line-height: 7rem;
  color: $color-font-1;
  margin: 0 0 4rem;
  outline: none;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.input-form.reqError {
  border: .1rem solid $color-red;
}

textarea.input-form {
  height: 19rem;
  resize: none;
  line-height: 3rem;
  padding: 2.1rem 3rem;
  margin-bottom: 2.1rem;
}

input.input-form[type="text"]::-moz-placeholder,
input.input-form[type="email"]::-moz-placeholder,
textarea.input-form::-moz-placeholder {
  color: $color-font-1 !important;
  opacity: 1 !important;
}

input.input-form[type="text"]::-ms-input-placeholder,
input.input-form[type="email"]::-ms-input-placeholder,
textarea.input-form::-ms-input-placeholder {
  color: $color-font-1 !important;
  opacity: 1 !important;
}

input.input-form[type="text"]::-webkit-input-placeholder,
input.input-form[type="email"]::-webkit-input-placeholder,
textarea.input-form::-webkit-input-placeholder {
  color: $color-font-1 !important;
  opacity: 1 !important;
}

.commentForm .common_btn.red_bg {
  padding: 2.8rem 4.25rem;
}

input.input-form:focus,
textarea.input-form:focus {
  -webkit-box-shadow: 0 1rem 3.5rem 0 rgba($color-black, 0.05);
  -moz-box-shadow: 0 1rem 3.5rem 0 rgba($color-black, 0.05);
  box-shadow: 0 1rem 3.5rem 0 rgba($color-black, 0.05);
  border-right: .4rem solid $color-red;
  background: $color-white;
}

.sidebar .widget {
  position: relative;
  margin-bottom: 3rem;
}

.sidebar .widget.search-widget {
  padding: 0;
}

.sidebar .widget form.searchform {
  margin: 0;
  padding: 0;
}

.sidebar .widget form.searchform input {
  width: 100%;
  height: 9.1rem;
  border: none;
  border-radius: 0;
  background: $color-black;
  font-size: $font-size-s;
  letter-spacing: 0.14rem;
  line-height: 3rem;
  color: $color-white;
  padding: 0 5rem;
  text-transform: uppercase;
  outline: none;
}

.sidebar .widget form.searchform input::-moz-placeholder {
  color: $color-white !important;
  opacity: 1 !important;
}

.sidebar .widget form.searchform input::-ms-input-placeholder {
  color: $color-white !important;
  opacity: 1 !important;
}

.sidebar .widget form.searchform input::-webkit-input-placeholder {
  color: $color-white !important;
  opacity: 1 !important;
}

.sidebar .widget_title {
  font-size: $font-size-l;
  text-transform: uppercase;
  letter-spacing: 0.072rem;
  margin: 0 0 -.2rem;
  padding: 2.3rem 4.8rem 2.4rem;
  border: .2rem solid $color-white-2;
}

.meipaly_post_widget {
  position: relative;
  background: $color-white-2;
  padding: 5rem;
}

.mpw_item {
  position: relative;
  padding-left: 8rem;
  border-bottom: .1rem solid #cccaca;
  margin-bottom: 2rem;
  padding-bottom: 2.1rem;

  &__img {
    width: 6rem;
    height: 5.6rem;
    position: absolute;
    top: 0;
    left: 0;

    img {
      object-fit: cover;
    }
  }
}

.mpw_item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}


.mpw_item a {
  text-transform: uppercase;
  font-size: $font-size-m;
  line-height: 2.4rem;
  color: $color-font-1;
  display: inline-block;
  margin: .3rem 0 0;

  &:focus {
    color: $color-red !important;
  }
}

.mpw_item a:hover {
  color: $color-black;
}

.categorie_widget {
  position: relative;
  background: $color-white-2;
  padding: 4.3rem 5rem 4.4rem;
}

.categorie_widget ul {
  margin: 0;
  padding: 0;
}

.categorie_widget ul li {
  list-style: none;
  display: block;
  margin: 0 0 1.2rem;
}

.categorie_widget ul li:last-of-type {
  margin-bottom: 0;
}

.categorie_widget ul li a {
  display: inline-block;
  font-size: $font-size-m;
  line-height: 2.2rem;
  color: $color-font-1;
  text-transform: capitalize;
}

.categorie_widget ul li a:hover {
  color: $color-black;
}

.tagcloude_widget {
  position: relative;
  background: $color-white-2;
  padding: 4.3rem 5rem 4.4rem;
}

.tagcloude_widget a {
  display: inline-block;
  font-size: $font-size-m;
  line-height: 3rem;
  color: $color-font-1;
  margin-right: 5px;
}

.tagcloude_widget a:hover {
  color: $color-black;
}

/*----------------------------------------------------
/ 25. Contct Page
------------------------------------------------------*/
.contactForm {
  position: relative;
  text-align: center;

  .error {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    color: $color-red;
    font-size: $font-size-s;

  }

  .col-lg-12 .error {
    bottom: 3.5rem;
  }

  .afterSubmitMessage,
  .sending {
    position: absolute;
    bottom: 9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    &--success {
      color: $color-black;
    }

    &--error {
      color: $color-red;
    }
  }
}

.contactForm textarea.input-form {
  height: 19rem;
  resize: none;
  line-height: 3rem;
  padding: 2.1rem 3rem;
  margin-bottom: 6rem;
}

.contactForm .common_btn.red_bg {
  padding: 2.8rem 4.25rem;
}

/*------------------------------------------------------------------------------
/ 26. Popup Search
------------------------------------------------------------------------------*/
.searchFixed {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.98);
  left: 0;
  top: 0;
  z-index: 9999;
  display: none;
}

.popupBG {
  background-image: url(../../public/images/line-maker.svg);
  background-repeat: repeat;
  background-position: center center;
  padding: 0;
}

.searchForms {
  position: absolute;
  width: 100%;
  height: 10rem;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.searchForms button[type="submit"] {
  padding: 0 0;
  outline: none;
  border: none;
  background: transparent;
  font-size: $font-size-xxl;
  line-height: 0.9;
  color: $color-white;
  position: absolute;
  height: 100%;
  width: 6rem;
  text-transform: uppercase;
  right: 1.5rem;
  top: -.2rem;
  text-align: center;
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.searchForms button[type="submit"]:hover {
  color: $color-red;
}

.searchForms input {
  width: 100%;
  height: 9.1rem;
  border: none;
  border-bottom: .1rem solid rgba($color-white, 0.5);
  background: none;
  font-size: $font-size-xxl;
  color: $color-white;
  text-transform: uppercase;
  padding-left: 1rem;
  font-weight: 300;
}

.searchForms input:focus {
  outline: none;
  box-shadow: none;
}

.searchForms input::-webkit-input-placeholder {
  color: $color-white;
  opacity: 1;
}

.searchForms input:-moz-placeholder {
  color: $color-white;
  opacity: 1;
}

.searchForms input::-moz-placeholder {
  color: $color-white;
  opacity: 1;
}

.searchForms input:-ms-input-placeholder {
  color: $color-white;
  opacity: 1;
}

.sfCloser {
  background-color: $color-white;
  border-radius: 50%;
  box-shadow: 0 0 0 0 $color-white;
  font-weight: 600;
  height: 5rem;
  width: 5rem;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 3rem;
  text-transform: uppercase;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 99;
}

.sfCloser:after {
  width: 1.5rem;
  height: .1rem;
  background: $color-black;
  position: absolute;
  right: 1.75rem;
  top: 2.4rem;
  content: "";
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.sfCloser:before {
  width: 1.5rem;
  height: .1rem;
  background: $color-black;
  position: absolute;
  right: 1.75rem;
  top: 2.4rem;
  content: "";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.sfCloser:hover {
  box-shadow: 0 0 0 1rem rgba($color-white, 0.2);
  box-shadow: 0 0 0 1rem rgba($color-white, 0.2);
  -moz-box-shadow: 0 0 0 1rem rgba($color-white, 0.2);
}

.sfCloser:hover:after,
.sfCloser:hover:before {
  background: $color-red;
}

/*------------------------------------------------------------------------------
/ 27. Popup Menu
------------------------------------------------------------------------------*/
.popup {
  background: rgba(17, 17, 17, 0.98);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
  width: 100%;
  z-index: 1000;
}

.close-popup {
  background-color: $color-white;
  border-radius: 50%;
  box-shadow: 0 0 0 0 $color-white;
  font-weight: 600;
  height: 5rem;
  width: 5rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
  text-transform: uppercase;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 99;
}

.close-popup:after {
  width: 1.5rem;
  height: .1rem;
  background: $color-black;
  position: absolute;
  right: 1.75rem;
  top: 2.4rem;
  content: "";
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.close-popup:before {
  width: 1.5rem;
  height: .1rem;
  background: $color-black;
  position: absolute;
  right: 1.75rem;
  top: 2.4rem;
  content: "";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
}

.close-popup:hover {
  box-shadow: 0 0 0 1rem rgba($color-white, 0.2);
  box-shadow: 0 0 0 1rem rgba($color-white, 0.2);
  -moz-box-shadow: 0 0 0 1rem rgba($color-white, 0.2);
}

.close-popup:hover:after,
.close-popup:hover:before {
  background: $color-red;
}

.logo2 {
  z-index: 99;
  position: absolute;
  left: 0;
  top: 3rem;

  img {
    object-fit: cover;
  }
}

.footer__contacts {
  position: absolute;
  left: 0;
  bottom: 4rem;
  margin: 0;
  padding-left: 0;

  a {
    color: inherit;

    &:hover {
      color: $color-white;
    }
  }
}

.popUp_social {
  position: absolute;
  right: 0;
  bottom: 3.4rem;
  padding: 0;
}

.popUp_social ul {
  margin: 0;
  padding: 0;
}

.popUp_social ul li {
  padding: 0;
  margin: 0 2rem 0 0;
  list-style: none;
  display: inline-block;
}

.popUp_social ul li:last-of-type {
  margin-right: 0;
}

.popUp_social ul li a {
  font-size: $font-size-s;
  letter-spacing: 0.056rem;
  color: $color-font-2;
  margin: 0;
  display: block;
  text-align: left;
}

.popUp_social ul li a i {
  font-size: $font-size-m;
  color: $color-white;
  margin-right: 1rem;
}

.popUp_social ul li a:hover {
  color: $color-white;
}

.footer__contacts li {
  list-style: none;
  display: block;
  font-size: $font-size-m;
  color: $color-font-1;
  line-height: 2.2rem;
  margin: 0 0 .7rem;
}

.footer__contacts li:last-child {
  margin-bottom: 0;
}

.popup__btn-close {
  background-color: transparent;
  border: 0;
  letter-spacing: 0.3rem;
  opacity: 1;
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 1;
}

.popup__btn-close:hover {
  opacity: 0.5;
}

.popup-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: translateY(-100%);
  transition: all 0.6s 1000ms cubic-bezier(0.7, 0, 0.3, 1);
  width: 100%;
}

.show-popup .popup-inner,
.show-overlay-nav .popup-inner {
  transform: translateY(0);
}

.show-popup .popup.popup-overlay,
.show-overlay-nav .popup.popup__menu {
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: visible;
  transform: translateY(0);
}

.show-popup,
.show-overlay-nav {
  overflow: hidden;
}

.popup.popup__menu {
  background-image: url(../../public/images/line-maker.svg);
  background-repeat: repeat;
  background-position: center center;
  padding: 0;
}

.popup.popup__menu .popup-inner {
  display: flex;
}

.show-overlay-nav .popup.popup__menu.popup__menu {
  box-shadow: none;
}

.show-overlay-nav .top {
  background-color: transparent;
  box-shadow: none;
}

.dl-menu__wrap {
  height: auto;
  position: relative;
  perspective: 60rem;
  perspective-origin: 50% -200%;
  text-align: center;
  transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
  width: 100%;
}

.dl-menu__wrap ul {
  list-style: none;
  padding: 0;
  transform-style: preserve-3d;
}

.dl-menu__wrap ul li {
  margin: 1.3rem 0;
  position: relative;
  display: block;
}

.dl-menu__wrap ul li a {
  color: $color-white;
  text-transform: uppercase;
  font-size: $font-size-m;
  letter-spacing: .1rem;
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.dl-menu__wrap ul li a::after {
  position: absolute;
  width: 0;
  height: .1rem;
  content: "";
  background: $color-white;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: -1;
}

.dl-menu__wrap ul li.menu-item-has-children>a {
  position: relative;
}

.dl-menu__wrap ul li button {
  position: relative;
  transition: transform 500ms ease;
}

.dl-menu__wrap ul li button:hover {
  transform: rotate(-180deg);
}

.dl-menu__wrap ul li.active>a::after,
.dl-menu__wrap ul li a:hover::after {
  width: 100%;
}

.dl-menu__wrap ul li .dl-submenu {
  display: none;
}

.dl-menu__wrap ul.sub-menu {
  display: none;
}

.dl-menu__wrap ul.sub-menu.hide {
  display: none;
}

.dl-menu__wrap ul.sub-menu.show {
  display: block;
}

.dl-menu__wrap button {
  border: none;
  background-color: transparent;
  outline: none;
  color: $color-white;
}

.dl-menu__wrap .dl-menu {
  margin: 0;
  pointer-events: none;
  transform: translateY(1rem);
  backface-visibility: hidden;
  width: 100%;
}

.dl-menu__wrap .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
}

.dl-menu__wrap .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(rem);
}

.dl-menu__wrap .dl-menu.dl-subview li,
.dl-menu__wrap .dl-menu.dl-subview li.dl-subviewopen>a,
.dl-menu__wrap .dl-menu.dl-subview li.dl-subview>a {
  display: none;
}

.dl-menu__wrap .dl-menu.dl-subview li.dl-subview,
.dl-menu__wrap .dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu__wrap .dl-menu.dl-subview li.dl-subviewopen,
.dl-menu__wrap .dl-menu.dl-subview li.dl-subviewopen>.dl-submenu,
.dl-menu__wrap .dl-menu.dl-subview li.dl-subviewopen>.dl-submenu>li {
  display: block;
}

.dl-menu__wrap .dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease;
}

.dl-menu__wrap .dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease;
}

.dl-menu__wrap .dl-menu .dl-back a {
  position: relative;
  width: 2.6rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.dl-menu__wrap .dl-menu .dl-back a:before {
  content: "";
  background-color: transparent;
  background-image: url(../../public/images/arrow-back.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 2.6rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 2.6rem;
}

.dl-menu__wrap .dl-menu .dl-back a:after {
  display: none;
}

.dl-menu__wrap .dl-menu.dl-subview .dl-back {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menu__wrap>.dl-submenu {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dl-menu__wrap>.dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menu__wrap>.dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease;
}

@keyframes MenuAnimOut3 {
  100% {
    transform: translateZ(30rem);
    opacity: 0;
  }
}

@keyframes MenuAnimIn3 {
  0% {
    transform: translateZ(30rem);
    opacity: 0;
  }

  100% {
    transform: translateZ(rem);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn3 {
  0% {
    transform: translateZ(-30rem);
    opacity: 0;
  }

  100% {
    transform: translateZ(rem);
    opacity: 1;
  }
}

@keyframes SubMenuAnimOut3 {
  0% {
    transform: translateZ(rem);
    opacity: 1;
  }

  100% {
    transform: translateZ(-30rem);
    opacity: 0;
  }
}

/*----------------------------------------------------
/ 28. preloder
------------------------------------------------------*/
.preloader {
  background: $color-black;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.la-ball-circus,
.la-ball-circus>div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.la-ball-circus {
  display: block;
  font-size: 0;
  color: $color-white;
}

.la-ball-circus.la-dark {
  color: $color-white;
}

.la-ball-circus>div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-ball-circus {
  width: 1.6rem;
  height: 1.6rem;
}

.la-ball-circus>div {
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  width: 1.6rem;
  width: 100%;
  height: 1.6rem;
  height: 100%;
  border-radius: 100%;
  opacity: 0.5;
  -webkit-animation: ball-circus-position 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1),
    ball-circus-size 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1);
  -moz-animation: ball-circus-position 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1),
    ball-circus-size 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1);
  -o-animation: ball-circus-position 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1),
    ball-circus-size 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1);
  animation: ball-circus-position 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1),
    ball-circus-size 2.5s infinite cubic-bezier(0.25, 0, 0.75, 1);
}

.la-ball-circus>div:nth-child(1) {
  -webkit-animation-delay: 0s, -0.5s;
  -moz-animation-delay: 0s, -0.5s;
  -o-animation-delay: 0s, -0.5s;
  animation-delay: 0s, -0.5s;
}

.la-ball-circus>div:nth-child(2) {
  -webkit-animation-delay: -0.5s, -1s;
  -moz-animation-delay: -0.5s, -1s;
  -o-animation-delay: -0.5s, -1s;
  animation-delay: -0.5s, -1s;
}

.la-ball-circus>div:nth-child(3) {
  -webkit-animation-delay: -1s, -1.5s;
  -moz-animation-delay: -1s, -1.5s;
  -o-animation-delay: -1s, -1.5s;
  animation-delay: -1s, -1.5s;
}

.la-ball-circus>div:nth-child(4) {
  -webkit-animation-delay: -1.5s, -2s;
  -moz-animation-delay: -1.5s, -2s;
  -o-animation-delay: -1.5s, -2s;
  animation-delay: -1.5s, -2s;
}

.la-ball-circus>div:nth-child(5) {
  -webkit-animation-delay: -2s, -2.5s;
  -moz-animation-delay: -2s, -2.5s;
  -o-animation-delay: -2s, -2.5s;
  animation-delay: -2s, -2.5s;
}

.la-ball-circus.la-sm {
  width: .8rem;
  height: .8rem;
}

.la-ball-circus.la-sm>div {
  width: .8rem;
  height: .8rem;
}

.la-ball-circus.la-2x {
  width: 3.2rem;
  height: 3.2rem;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  position: absolute;
}

.la-ball-circus.la-2x>div {
  width: 3.2rem;
  height: 3.2rem;
}

.la-ball-circus.la-3x {
  width: 4.8rem;
  height: 4.8rem;
}

.la-ball-circus.la-3x>div {
  width: 4.8rem;
  height: 4.8rem;
}

@-webkit-keyframes ball-circus-position {
  50% {
    left: 100%;
  }
}

@-moz-keyframes ball-circus-position {
  50% {
    left: 100%;
  }
}

@-o-keyframes ball-circus-position {
  50% {
    left: 100%;
  }
}

@keyframes ball-circus-position {
  50% {
    left: 100%;
  }
}

@-webkit-keyframes ball-circus-size {
  50% {
    -webkit-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }
}

@-moz-keyframes ball-circus-size {
  50% {
    -moz-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }
}

@-o-keyframes ball-circus-size {
  50% {
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }
}

@keyframes ball-circus-size {
  50% {
    -webkit-transform: scale(0.3, 0.3);
    -moz-transform: scale(0.3, 0.3);
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }
}

/*----------------------------------------------------
/ 29. Bact To Top
------------------------------------------------------*/
.showit {
  background: $color-red;
  bottom: 6rem;
  color: $color-white;
  font-size: $font-size-xl;
  height: 4rem;
  padding: 1rem 1.2rem;
  position: fixed;
  right: 6rem;
  text-align: center;
  width: 4rem;
  z-index: 99;
  cursor: pointer;
  line-height: 0.8rem;
}

.showit:hover {
  background: $color-black;
  color: $color-white;
}

/*----------------------------------------------------
/ 30. Color Preset
------------------------------------------------------*/
.color_settings {
  position: fixed;
  backface-visibility: hidden;
  left: -24rem;
  top: 25%;
  width: 24rem;
  box-sizing: border-box;
  padding: 2.5rem 2rem 2rem;
  z-index: 1000;
  background: $color-white;
  box-shadow: .1rem 0 .3rem rgba($color-black, 0.1);
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.color_settings .switch-btn {
  width: 4rem;
  height: 4rem;
  background: $color-white;
  font-size: $font-size-l;
  color: $color-black;
  border: none;
  position: absolute;
  padding: 1.1rem 0;
  top: 2rem;
  right: -4rem;
  box-shadow: -.1rem 0 .2rem rgba($color-black, 0.1) inset;
  text-align: center;
}

.color_settings .color_preset button {
  background: $color-white;
  border: none;
  border-radius: 0;
  height: 3rem;
  width: 5rem;
  display: block;
  float: left;
  margin: .5rem;
  outline: none;
}

.color_settings .color_preset button.active {
  opacity: 0.2;
}

.color_settings .color_preset h4 {
  text-align: center;
  font-size: $font-size-s;
  color: $color-black;
  font-weight: 500;
  text-transform: uppercase;
  padding: .9rem 0;
  margin: 0 0 .7rem;
  border: .2rem solid #f5f6fa;
}

.color_settings .switch-btn.active,
.color_settings .switch-btn:hover {
  color: $color-red;
}

/* main slider in react js */
/* alternative of revolution jquery */

.main-slider .swiper-slide {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-slider .image-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 7000ms ease;
  transition: -webkit-transform 7000ms ease;
  transition: transform 7000ms ease;
  transition: transform 7000ms ease, -webkit-transform 7000ms ease;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    background: url("/images/bg/13.png") no-repeat center center / cover;
    width: 100%;
    height: 100%;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    background: rgba($color-black, 0.6);
    width: 100%;
    height: 100%;
  }
}

.main-slider .container {
  position: relative;
  z-index: 10;
  padding: 11.5rem 6rem 0;
  // padding-top: 11.5rem;
}

.main-slider__btn {
  font-size: $font-size-xxxl;
  // background-color: rgba($color-white, 0.35);
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
  height: 7rem;
  width: 7rem;
  font-size: 5rem;

  i {
    transition: all 0.3s ease;
    color: rgba($color-white, 0.35);

    &:hover {
      color: $color-white;

    }
  }
}

.main-slider__title {
  white-space: pre-line;
  font-size: 5rem;
  text-transform: uppercase;
  color: $color-white;
  line-height: 1.15em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 3rem;
  margin-top: .5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(9rem);
  transform: translateY(9rem);
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
  -webkit-transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease,
    -webkit-transform 2000ms ease;
}

@media (min-width: 768px) {
  .main-slider__title {
    font-size: 6rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 992px) {
  .main-slider__title {
    margin-bottom: 5rem;
    font-size: 7rem;
  }
}

@media (min-width: 1200px) {
  .main-slider__title {
    font-size: $font-size-super-big;
  }
}

.main-slider__subtext {
  color: $color-white;
  font-size: $font-size-xl;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .2rem;
  opacity: 0;
  -webkit-transform: translateY(-12rem);
  transform: translateY(-12rem);
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: opacity 2000ms ease, -webkit-transform 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease,
    -webkit-transform 2000ms ease;
}

.main-slider .main-slider__btn {
  opacity: 0;
  -webkit-transform: translateY(10rem);
  transform: translateY(10rem);
  -webkit-transition-delay: 2500ms;
  transition-delay: 2500ms;
  -webkit-transition: opacity 2000ms ease, color 500ms ease,
    background 500ms ease, -webkit-transform 2000ms ease;
  transition: opacity 2000ms ease, color 500ms ease, background 500ms ease,
    -webkit-transform 2000ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease, color 500ms ease,
    background 500ms ease;
  transition: transform 2000ms ease, opacity 2000ms ease, color 500ms ease,
    background 500ms ease, -webkit-transform 2000ms ease;
}

.main-slider .swiper-slide-active .image-layer {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.main-slider .swiper-slide-active .main-slider__btn,
.main-slider .swiper-slide-active .main-slider__title,
.main-slider .swiper-slide-active .main-slider__subtext {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0) translateX(0);
  transform: translateY(0) translateX(0);
}

.main-slider [class*="swiper-button-"]::after {
  display: none;
}

.main-slider [class*="swiper-button-"] {
  width: 5rem;
  height: 5rem;
  background-color: rgba($color-white, 0.35);
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-black;
  font-size: $font-size-xxl;
  transition: all 500ms ease;
  display: none;
}

.main-slider [class*="swiper-button-"]:hover {
  background-color: $color-white;
}

.main-slider .swiper-button-next,
.main-slider .swiper-button-prev {
  border-radius: 50%;
}

@media (min-width: 76.8rem) {
  .main-slider [class*="swiper-button-"] {
    width: 7rem;
    height: 7rem;
    display: flex;
  }
}

@media (min-width: 76.8rem) {
  .main-slider .swiper-button-next {
    right: 3rem;
  }

  .main-slider .swiper-button-prev {
    left: 3rem;
  }
}

@media (min-width: 120rem) {
  .main-slider .swiper-button-next {
    right: 6rem;
  }

  .main-slider .swiper-button-prev {
    left: 6rem;
  }
}

.main-slider__two .main-slider__subtext,
.main-slider__two .main-slider__title {
  color: $color-black;
}

.pricing_plans {
  // background-color: $color-font-1;
  border-top: 2px solid $color-white-2;

  .price_card {
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-size: $font-size-xxxl;
      text-transform: uppercase;
    }

    .previous_plan {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      p {
        padding: 0 2rem;

        span {
          color: $color-black;
          font-weight: 500;
        }
      }

      i {
        font-size: 2rem;
        color: $color-red;
        margin: 1rem 0 0;
      }
    }

    &__features {
      // padding-left: 0;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 2px solid $color-white-2;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        margin-top: 1rem;

        i {
          font-size: 2rem;
          color: $color-red;
          margin-right: 1rem;
          margin-bottom: 1px;
        }
      }
    }
  }

  #line-pricing_plans {
    z-index: 2;
    position: absolute;
    bottom: -9.7rem;
    right: calc(50% - 5px);
    // transform: translateX(-50%);
  }
}

.price_card {
  padding: 5rem 3rem 3rem;
  border: 2px solid $color-white-2;
  transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -webkit-transition: all ease 500ms;

  h3 {
    font-size: $font-size-xxxl;
    text-transform: uppercase;
  }

  .price {
    font-size: $font-size-xxxxl;
    font-weight: 600;

    span {
      color: $color-black;
    }
  }

  &:after {
    width: .4rem;
    height: 0;
    position: absolute;
    content: "";
    right: 1.25rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: "";
    background: $color-red;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
  }

  &:hover {
    -webkit-box-shadow: 0 1rem 3.5rem 0 rgba($color-black, 0.1);
    -moz-box-shadow: 0 1rem 3.5rem 0 rgba($color-black, 0.1);
    box-shadow: 0 1rem 3.5rem 0 rgba($color-black, 0.1);
    border-color: transparent;

    &:after {
      visibility: visible;
      opacity: 1;
      height: 100%;
    }
  }

  &__btn {
    color: inherit;
    text-transform: uppercase;
    font-size: $font-size-xs;
    font-weight: 600;

    &:hover {
      color: $color-red;
    }
  }
}

.ecommerce_plan {
  position: relative;
  border-bottom: 2px solid $color-white-2;

  .price_card {
    background-color: $color-white;
    padding: 10rem 3rem;
    display: flex;
    flex-direction: column;

    .price span {
      color: $color-black;
      font-size: inherit;
    }

    span {
      font-size: $font-size-xl;
      margin-bottom: 2rem;
    }
  }

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60%;
    content: "";
    background: $color-white-2
  }

  &__contact {
    margin-top: -8rem;

    .info_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: $color-red;
        font-size: $font-size-xxxxl;
        margin-right: 3rem;
      }

      a:hover {
        color: $color-red;
      }
    }
  }
}