// $color-font-2: #5b5b5b;
// $color-black: #1C2536; azul
// $color-black: #2A3242;
// $color-red: #829DCF;
// $color-red: #516281;
// $color-red: #53CDE2;


$color-black: #1F1E1F;
$color-red: #D63E3D;
$color-white: #FFFFFF;
$color-white-2: #f4f4f4;
$color-gray: #f5f6fa;
$color-font-0: #b3b3b3;
$color-font-1: #818181;
$color-font-2: #aaaaaa;
$color-font-3: #272727;


// $color-black: #053742;
// $color-red: #39A2DB;
// $color-white-2: #E8F0F2;

// $color-black: #005792;
// $color-red: #53CDE2;
// $color-white-2: #EDF9FC;

// $color-black: #222831;
// $color-red: #FD7014;
// $color-white-2: #EEEEEE;

// $color-black: #222831;
// $color-red: #00ADB5;
// $color-white-2: #EEEEEE;

// $color-white: #FFFFFF;
// $color-gray: #f5f6fa;
// $color-font-0: #b3b3b3;
// $color-font-1: #818181;
// $color-font-2: #aaaaaa;
// $color-font-3: #272727;



$font-size-super-big: 10.5rem;
$font-size-xbig: 6.4rem;
$font-size-xxxxl: 5rem;
$font-size-xxxl: 2.6rem;
$font-size-xxl: 2.4rem;
$font-size-xl: 2rem;
$font-size-l: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-xs: 1.2rem;