/*---------------------------------------------------------------------------------------------------------
/ 4. Responsive For large Device. like: laptop and other large screen those have minimum 1200px resolution
-----------------------------------------------------------------------------------------------------------*/
@media (min-width: 1200px) and (max-width: 1600px) {
  .rev_slider .tp-caption.layer_1 {
    top: 30px !important;
  }

  .rev_slider .tp-caption.layer_2 {
    font-size: 70px !important;
    line-height: 80px !important;
  }

  .rev_slider .tp-caption.layer_3 {
    bottom: 54px !important;
  }

  .rev_slider.slider_2 .tp-caption.layer_1,
  .rev_slider.slider_2 .tp-caption.layer_2,
  .rev_slider.slider_2 .tp-caption.layer_3 {
    left: 80px !important;
  }

  .rev_slider.slider_2 .tp-caption.layer_1 {
    top: 45px !important;
  }

  .rev_slider.slider_2 .tp-caption.layer_3 {
    bottom: 78px !important;
  }
}