@media (max-width: 990px) {
    .pricing_plans .col-lg-4 {
        margin-bottom: 3rem;
    }

    .line-animation {
        display: none;
    }

    .what_wedo {
        padding-bottom: 0;
    }

    .singleTM {
        .tm_img {
            width: calc(100% + 1.5rem)
        }
    }

    .our_mission {
        margin-top: 0;
    }

    .post_author {
        &__img {
            position: inherit;
            left: 0;
            margin-bottom: 1.5rem;
        }
    }

    .how_we_do_it {
        .old_way {
            padding-bottom: 3rem;

            &:first-child .col-lg-6 {
                margin-bottom: 3rem;
            }
        }

        .row .col-lg-4 {
            margin-bottom: 1.5rem;
        }
    }

    .old_way_card {
        margin-right: 0;

        i {
            display: none;
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {

    .singleClient {
        height: 16rem;
    }

    .subscribefrom .message-error {
        top: -3rem;
        left: 0rem;
    }

    .singleTM {
        .tm_img {
            height: 22rem;
        }
    }

    .rev_slider .tp-leftarrow.me_arrows,
    .rev_slider .tp-rightarrow.me_arrows {
        width: 60px;
        height: 60px;
        padding: 19px 0;
    }

    .rev_slider .tp-leftarrow.me_arrows {
        left: -35px !important;
    }

    .rev_slider .tp-rightarrow.me_arrows {
        right: -95px !important;
        left: auto !important;
    }

    .header_01 {
        padding-left: 0;
        padding-right: 0;
    }

    .mainmenu ul li {
        padding: 0 12px 53px;
    }

    .mainmenu ul li:first-of-type {
        padding-left: 0;
    }

    .mainmenu ul li:last-of-type {
        padding-right: 0;
    }

    .mainmenu ul li a {
        font-size: 14px;
    }

    .footer__contacts {
        padding-left: 10px;
    }

    .logo2 {
        left: 20px;
    }

    .sec_title {
        font-size: 40px;
    }

    .sec_title br {
        display: none;
    }

    .custom_column .col-lg-3 {
        width: 33.33333333%;
        flex: 0 0 33.33333%;
    }

    .icon_box_2,
    .icon_box_1 {
        margin-bottom: 30px;
    }

    .icon_box_2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .front,
    .back {
        padding-left: 50px;
        padding-right: 50px;
    }

    .PR_79 {
        padding-right: 15px;
    }

    .MB_45 {
        margin-bottom: 30px;
    }

    .ab_agency {
        .container {
            .col-lg-6:first-child {
                text-align: center;
                padding-bottom: 6rem;
            }

            .col-lg-6:last-child {
                padding-bottom: 6rem;
            }
        }

        .ab_img1 {
            position: relative;
            float: right;
            right: 8rem;
            width: 32rem;
            height: 28rem;
        }

        .ab_img2 {
            top: 7rem;
            left: 13rem;
            width: 32rem;
            height: 28rem;

            &:after {
                width: 32rem;
                height: 28rem;
                left: 45px;
            }
        }
    }


    .subscribefrom input[type="text"] {
        width: 64%;
    }

    .subscribefrom .common_btn.red_bg {
        margin-top: 15px;
    }

    .BR {
        border: none;
    }

    .abci_content {
        padding: 40px 0 0 20px;
    }

    .abci_content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .abci_content p {
        margin-bottom: 47px;
    }

    .testimonial_content {
        padding: 0;
    }

    .testimonial_content h2 {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 1px;
    }

    .lbi_details {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer_1 .aboutwidget {
        padding-right: 0;
    }

    .footer_1 .contact_widgets {
        padding-left: 0;
    }

    .features_content {
        padding-bottom: 50px;
        padding-right: 100px;
    }

    .features_img img {
        width: 100%;
    }

    /* .chooseUs_title li a {
    font-size: 16px;
    padding: 40px 0;
  } */

    .singleClient_2,
    .single_wedo {
        margin-bottom: 30px;
    }

    .gmap {
        height: 450px;
    }

    .btn_link a {
        font-size: 22px;
        height: 120px;
        padding: 51px 0;
    }

    .banner_content h2 {
        font-size: 60px;
    }

    .sidebar .widget_title {
        padding-left: 13px;
    }

    .meipaly_services_help,
    .meipaly_post_widget,
    .meipaly_tagcloude_widget,
    .meipaly_categorie_widget {
        padding-left: 15px;
        padding-right: 15px;
    }

    .sidebar .widget form.searchform input {
        padding: 0 15px;
        height: 70px;
    }

    .mpw_item {
        padding-left: 70px;
    }

    .mpw_item a {
        font-size: 14px;
        letter-spacing: 0;
    }

    .serviceArea ul,
    .serviceArea h3 {
        margin-bottom: 30px;
    }

    .singlePortfoio_content h3 {
        margin-bottom: 20px;
    }

    .singlePortfoio_content {
        margin-bottom: 28px;
    }

    .nextprevPagination {
        padding: 35px 0;
    }

    .blog_headings {
        padding-left: 15px;
        padding-right: 15px;
    }

    .blog_headings h2 {
        font-size: 32px;
    }

    .blog_details {
        padding: 0px 25px 22px;
    }

    .post_author {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /* .post_author img {
        left: 15px;
        width: 120px;
        height: 140px;
        top: -10px;
    } */

    .post_author h3 {
        margin-bottom: 10px;
    }

    .post_author p {
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 30px;
    }

    .single-comment {
        padding-left: 127px;
        padding-right: 80px;
    }

    .single-comment .authorDetails span {
        margin-bottom: 15px;
    }

    .agency_img2 {
        margin-top: -20px;
        margin-right: 180px;
    }

    .agency_img1:after {
        width: 380px;
        height: 400px;
        top: 30px;
        right: 30px;
    }

    .compay_date {
        right: 15px;
        bottom: 0;
    }

    .compay_date h2 {
        font-size: 70px;
    }

    .ab_detail_wrap {
        padding: 0;
    }

    .ab_detail_wrap .sec_title {
        margin-bottom: 20px;
        line-height: 50px;
        font-size: 32px;
        letter-spacing: 1px;
    }

    .videoWrap {
        height: 40rem;
    }

    .ab_detail_wrap .sec_desc {
        line-height: 32px;
    }

    .testimoniTab .sec_title {
        font-size: 34px;
    }

    .testimoniTab ul li a .author_detail h5 {
        line-height: 22px;
    }

    .testi_con p {
        font-size: 18px;
        line-height: 32px;
    }
}

/*-------------------------------------------------------------------------
/ 3. Responsive For Medium Device. like: Desktop with 1024px resolution
----------------------------------------------------------------------------*/
@media (max-width: 1199px) {
    .lbi_thumb {
        width: 100%;
        height: 26rem;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {

    .subscribefrom .message-error {
        top: -3rem;
        left: 18rem;
    }

    .rev_slider .tp-leftarrow.me_arrows,
    .rev_slider .tp-rightarrow.me_arrows {
        width: 60px;
        height: 60px;
        padding: 19px 0;
    }

    .rev_slider .tp-leftarrow.me_arrows {
        left: -40px !important;
    }

    .rev_slider .tp-rightarrow.me_arrows {
        right: -100px !important;
        left: auto !important;
    }

    .header_01 {
        padding-left: 0;
        padding-right: 0;
    }

    .mainmenu ul li:first-of-type {
        padding-left: 0;
    }

    .mainmenu ul li:last-of-type {
        padding-right: 0;
    }

    .ab_agency {

        .ab_img1 {
            width: 40rem;
            height: 38rem;
        }

        .ab_img2 {
            width: 40rem;
            height: 38rem;

            &:after {
                width: 40rem;
                height: 38rem;
            }
        }
    }

    .front,
    .back {
        padding-left: 25px;
        padding-right: 25px;
    }

    .abci_content h2,
    .sec_title {
        font-size: 44px;
    }

    .subscribefrom input[type="text"] {
        width: 390px;
    }

    .abci_content {
        padding-left: 70px;
        padding-top: 55px;
    }

    .testimonial_content {
        padding: 0;
    }

    .lbi_details {
        padding-left: 15px;
        padding-right: 15px;
    }

    .lbi_details h2 {
        font-size: 22px;
    }

    .ready_2 .common_btn,
    .ready .common_btn {
        padding: 28px 38.5px;
    }

    .footer_1 .aboutwidget {
        padding-right: 0;
    }

    .footer_1 .contact_widgets {
        padding-left: 0;
    }

    .icon_box_2 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .features_content {
        padding-right: 0;
    }

    .features_img img {
        width: 100%;
    }

    .img_details {
        padding: 20px 40px 20px 25px;
    }

    .img_details h4 {
        font-size: 18px;
    }

    .singleFeature {
        margin-bottom: 32px;
    }

    .gmap {
        height: 500px;
    }

    .singleClient_2 {
        padding-left: 30px;
    }

    .sidebar .widget_title {
        padding-left: 28px;
    }

    .meipaly_services_help,
    .meipaly_post_widget,
    .meipaly_tagcloude_widget,
    .meipaly_categorie_widget {
        padding-left: 30px;
        padding-right: 30px;
    }

    .sidebar .widget form.searchform input {
        padding: 0 30px;
    }

    .serviceArea h3 {
        margin-bottom: 20px;
    }

    .serviceArea ul {
        margin-top: -25px;
    }

    .blog_headings {
        padding: 30px 20px 0;
    }

    .blog_details {
        padding: 0 30px 22px;
    }

    .blog_headings h2 {
        font-size: 36px;
    }

    .post_author {
        padding-left: 250px;
        padding-right: 30px;
    }

    .post_author img {
        left: 50px;
    }

    .agency_img1:after {
        width: 450px;
    }

    .agency_img2 {
        margin-top: -160px;
        margin-right: 140px;
    }

    .compay_date {
        right: 10px;
        bottom: 0;
    }

    .compay_date h2 {
        font-size: 60px;
        letter-spacing: 2px;
    }

    .ab_detail_wrap {
        padding: 0;
    }

    .ab_detail_wrap .sec_title {
        margin-bottom: 25px;
        font-size: 40px;
    }

    .ab_detail_wrap .sec_desc {
        line-height: 32px;
    }

    .videoWrap_2 .play_video h2 {
        font-size: 40px;
    }
}