/*------------------------------------------------------------------------------------
/ 1. Mobile Responsive. Responsive For Extra Small Device like: Mobile, Iphone etc
--------------------------------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 767px) {

    .sec_desc {
        white-space: inherit !important;
    }

    .pageBanner {
        min-height: 34rem;
        padding-top: 14rem;

        &--dark {
            &::after {
                display: none;
            }
        }

        .banner_content {
            padding: 0;

            h2 {
                font-size: 4.6rem !important;
            }

            .sub_title {
                line-height: initial !important;
            }

            .sec_desc {
                font-size: 1.4rem;
            }
        }

    }

    .mainmenu {
        padding: 0;
        margin: 0 -15px;
    }

    .mainmenu>ul {
        text-align: center;
        display: none;
        position: absolute;
        z-index: 10;
        background: #000;
        left: 0;
        top: -2px;
        padding: 30px 15px 20px;
        height: 300px;
        width: 100%;
        overflow-y: scroll;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mainmenu ul li {
        display: block;
        padding: 0 0 32px;
    }

    .mainmenu ul li a {
        display: inline-block;
    }

    .mainmenu>ul>li.menu-item-has-children>a:before {
        position: absolute;
        right: -18px;
        top: 2px;
        content: "\f107";
        transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
        font-family: "fontAwesome";
        font-size: 12px;
        color: #fff;
        line-height: 0.8;
    }

    .black_color .mainmenu ul ul.sub-menu,
    .mainmenu ul ul.sub-menu {
        top: 20px;
        display: none;
        width: 100%;
        padding: 0;
        visibility: visible;
        opacity: 1;
        left: auto;
        margin: auto;
        position: relative;
        right: auto;
        text-align: center;
        transform: none;
        z-index: 2;
        transition: none;
        padding: 15px 0 2px;
    }

    .mainmenu ul ul.sub-menu:before {
        border-bottom: none;
        border-top: 5px solid rgba(255, 255, 255, 0.98);
        transition: none;
    }

    .black_color .mainmenu ul li:hover ul.sub-menu,
    .mainmenu ul li:hover ul.sub-menu {
        visibility: visible;
        opacity: 1;
        top: 20px;
    }

    .mainmenu>ul>li.menu-item-has-children>a:hover:before,
    .mainmenu>ul>li.menu-item-has-children.active>a:before {
        transform: rotate(-180deg);
        color: #fff;
    }

    .mainmenu>ul>li.active>a:after {
        width: 100%;
    }

    .black_color .mainmenu ul li a {
        color: #fff;
    }

    .black_color .mainmenu ul ul.sub-menu {
        background: transparent;
        box-shadow: none;
    }

    .black_color .mainmenu ul li.active a,
    .black_color .mainmenu ul li a:hover {
        color: #fff;
    }

    .black_color .mainmenu ul li.active a:after,
    .black_color .mainmenu ul li a:after {
        background: #fff;
    }

    .header_01 {
        padding: 39px 0 0;
    }

    .navigator {
        padding-top: 0;
    }

    .navigator a.search {
        margin-right: 10px;
    }

    .close-popup {
        top: 20px;
        right: 15px;
        width: 40px;
        height: 40px;
    }

    .close-popup:after,
    .close-popup:before {
        right: 13px;
        top: 19px;
    }

    .container.mobileContainer {
        width: 100%;
    }

    .logo2 {
        left: 15px;
        top: 20px;
    }

    .dl-menu__wrap ul li {
        margin: 5px 0;
    }

    .dl-menu__wrap ul li a {
        font-size: 14px;
    }

    .footer__contacts {
        text-align: center;
        padding: 0 5px;
        bottom: 55px;
        left: 0;
        right: 0;
    }

    .footer__contacts li {
        font-size: 13px;
        margin: 0;
    }

    .popUp_social {
        text-align: center;
        text-align: center;
        right: 0;
        left: 0;
        bottom: 15px;
    }

    .popUp_social ul li {
        margin-right: 10px;
    }

    .popUp_social ul li a {
        font-size: 13px;
    }

    .popUp_social ul li a i {
        margin-right: 5px;
        font-size: 14px;
    }

    .searchForms button[type="submit"] {
        width: 40px;
        font-size: 15px;
    }

    .searchForms input {
        font-size: 15px;
        height: 70px;
    }

    .rev_slider .tp-leftarrow.me_arrows,
    .rev_slider .tp-rightarrow.me_arrows {
        width: 40px;
        height: 40px;
        padding: 10px 0;
    }

    .rev_slider .tp-leftarrow.me_arrows {
        left: -50px !important;
    }

    .rev_slider .tp-rightarrow.me_arrows {
        right: -90px !important;
        left: auto !important;
    }

    .sec_title {
        font-size: 3.8rem;
        letter-spacing: 1px;
        line-height: 3.8rem;
    }

    .price_card .price {
        font-size: 3.8rem;
    }

    .call-to-action {

        text-align: center;

        .col-lg-8 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .text-right {
            text-align: center !important;
        }

        .sec_title {
            font-size: 3.8rem;
            margin-bottom: 2rem;
            line-height: 3.8rem;
        }

        p {
            margin: 0 0 2.5rem;
        }
    }

    .sec_title br {
        display: none;
    }

    .sec_desc br {
        display: none;
    }

    .custom_column .col-lg-3 {
        width: 100%;
        flex: 0 0 100%;
    }

    .icon_box_1 {
        margin-bottom: 30px;
    }

    .PR_79 {
        padding-right: 15px;
        text-align: center;
    }

    .ab_agency {

        .ab_img2 {
            width: 100%;
            height: 25rem;
            position: relative;
            top: 0;
            margin: 6rem 0 0;

            &:after {
                display: none;
            }
        }
    }

    .videoWrap {
        margin-bottom: 50px;
    }

    .play_video a.video_popup {
        width: 45px;
        height: 45px;
        font-size: 15px;
        padding: 15px 0;
        margin-bottom: 15px;
    }

    .play_video h2 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .subscribe {
        text-align: center;
    }

    .subscribefrom {
        text-align: center;
    }

    .subscribefrom .message-error {
        top: -2.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
    }

    .subscribefrom input[type="text"] {
        width: 100%;
        margin-bottom: 15px;
    }

    .subscribefrom .common_btn.red_bg {
        margin-left: 0;
    }

    .BR {
        border-right: none;
    }

    .CL_content img {
        width: 100%;
    }

    .abc_inner {
        margin-top: 0;
    }

    .abci_content {
        margin-left: 0;
        padding: 50px 0 0;
    }

    .abci_content h2 {
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 50px;
    }

    .team_slider .slick-slide {
        margin: 0 10px;
    }

    .singleTM:hover .tm_overlay a.common_btn,
    .singleTM:hover .team_social {
        left: 40px;
    }

    .testimonial_content {
        padding: 0;
    }

    .testimonial_content .testi_icon {
        width: 8rem;
        height: 8rem;
        padding: 1rem;
    }

    .testimonial_content h2 {
        font-size: 3.8rem;
        letter-spacing: 1px;
        line-height: 4.5rem;
    }

    .testimonial_content p br {
        display: none;
    }

    .lbi_details {
        padding: 30px 10px 0;
    }

    .lbi_details h2 {
        font-size: 22px;
    }

    .ready_2 .common_btn,
    .ready .common_btn {
        float: left;
        margin-top: 30px;
    }

    .footer_1 .aboutwidget {
        padding-right: 0;
        margin-top: 0;
    }

    .footer_1 .widget {
        padding-bottom: 40px;
        padding-left: 0;
    }

    .footer_1 .contact_widgets p:first-of-type {
        margin-bottom: 15px;
    }

    .icon_box_2 {
        margin-bottom: 3.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .features_content {
        padding-right: 0;
    }

    .singleFeature:last-child {
        margin-bottom: 56px;
    }

    .features_img {
        padding-right: 15px;
    }

    .features_img img {
        width: 100%;
    }

    .img_details {
        padding: 15px;
    }

    .img_details h4 {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 24px;
    }

    .dots_owl {
        right: 30px;
    }

    .testimoniTab ul li a .author_detail h5 {
        line-height: 22px;
    }

    .testi_con {
        padding-top: 4rem;

        p {
            font-size: 2rem;
            line-height: 3.5rem;
        }
    }

    .chooseUs_title li {
        width: 100%;
    }

    .wh_choose ul li {
        line-height: 20px;
        margin-bottom: 10px;
    }

    .single_wedo {
        margin-bottom: 30px;
    }

    .gmap {
        height: 300px;
    }

    .btn_link a {
        height: 100px;
        padding: 41px 0;
        font-size: 20px;
    }

    .singleClient_2 {
        margin-bottom: 30px;
    }

    .banner_content h2 {
        font-size: 36px;
        line-height: 1.2;
    }

    .serviceArea h2 {
        font-size: 32px;
        line-height: 1.2;
    }

    .serviceArea h3 {
        margin-bottom: 30px;
        line-height: 1.2;
    }

    .serviceArea ul {
        margin: 0 0 30px;
    }

    .sidebar {
        margin-top: 50px;
    }

    .sidebar .widget_title {
        padding-left: 28px;
    }

    .meipaly_services_help,
    .meipaly_post_widget,
    .meipaly_tagcloude_widget,
    .meipaly_categorie_widget {
        padding-left: 30px;
        padding-right: 30px;
    }

    .folio_mixing {
        margin-bottom: 50px;
    }

    .folio_mixing ul li {
        margin-bottom: 20px;
    }

    .custom .mix {
        width: 100%;
    }

    .blog_headings {
        padding: 30px 10px 0;
    }

    .blog_headings h2 {
        font-size: 30px;
    }

    .blog_headings .blog_metas a {
        margin: 0 5px;
    }

    .blog_details {
        padding-left: 20px;
        padding-right: 20px;
    }

    .post_author {
        padding: 3rem;
    }

    .post_author h3 {
        margin-bottom: 20px;
    }

    .single-comment img {
        width: 75px;
        height: 80px;
    }

    .single-comment {
        padding-left: 85px;
        padding-right: 0;
        padding-bottom: 100px;
    }

    .single-comment .common_btn.red_bg {
        left: 85px;
        right: auto;
        bottom: 30px;
        top: auto;
    }

    .single-comment .authorDetails span {
        margin-bottom: 10px;
    }

    .sidebar .widget form.searchform input {
        padding: 0 30px;
    }

    .mpw_item a {
        font-size: 15px;
    }

    .agency_img1 {
        margin-top: 45px;
    }

    .agency_img2 {
        margin: 30px 0 40px;
    }

    .agency_img1:after {
        display: none;
    }

    .compay_date {
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    .videoWrap_2 {
        width: 100%;
        position: relative;
        margin-bottom: 30px;
    }

    .ab_detail_wrap {
        padding: 0;
        text-align: center;
    }

    .showit {
        right: 20px;
        bottom: 20px;
    }
}

/*------------------------------------------------------------------------------------
/ 1.a. Mobile Responsive 2.
--------------------------------------------------------------------------------------*/
@media (min-width: 481px) and (max-width: 767px) {

    .rev_slider .tp-leftarrow.me_arrows,
    .rev_slider .tp-rightarrow.me_arrows {
        width: 50px;
        height: 48px;
        padding: 14px 0;
    }

    .banner_content h2 {
        font-size: 44px;
    }

    .what_wedo:after {
        height: 58%;
    }

    .videoWrap {
        height: 30rem;
    }
}

@media (max-width: 767px) {
    .better-way__content {
        margin-bottom: 3rem;
    }

    .singleTM {
        margin-bottom: 2rem;
    }

    .ab_img1 {
        display: none;
    }

    .react-player__shadow {
        width: 6rem !important;
        height: 6rem !important;
    }

    .react-player__preview {

        &::after {
            font-size: 3rem !important;
        }
    }

    .chooseUs_title li a {
        padding: 3rem 0;
    }

    .chose_img {
        width: 100%;
    }

    .commonSection .container {
        padding: 0 3rem;
    }

    .chooseUs_title {
        display: flex;

        li a {
            font-size: 1.2rem;
            height: 100%;
        }
    }

    .testimonial_content .testi_icon {
        font-size: 3rem;
    }
}


@media (max-width: 574px) {
    .footer_1 {
        text-align: center;
    }

    .blog_details {

        iframe {
            height: 22rem;
        }
    }

    .social_widget {
        ul {
            display: flex;
            justify-content: center;

            li {
                margin-right: 1.5rem !important;
            }
        }
    }

    .singleClient {
        height: 15rem;
    }

    .post_author__img {
        width: 13rem;
        height: 16rem;
    }
}

@media (max-width: 481px) {
    .commonSection {
        padding: 6rem 0;
    }

    .commonSection .container {
        padding: 0 2rem;
    }

    .videoWrap {
        height: 25rem;
    }

    .what_wedo:after {
        height: 65%;
    }

    .chooseUs_title li a {
        padding: 2rem 0;
        text-transform: capitalize;
    }

    .lbi_thumb {
        height: 23rem;
    }

    .singleTM {
        .tm_img {
            height: 20rem;
        }
    }
}